.ChangePassword__rules {
  opacity: 0.5;
  p {
    text-align: center;
  }
}

.ChangePassword__code {
  display: block;
  padding: 0.2rem 0.5rem;
  background: #fff;
  color: #c7254e;
  word-wrap: break-word;
  text-align: center;
}

.ChangePassword__backup_text {
  color: $dark-gray;
  font-size: 90%;
  text-align: center;
  font-weight: bold;
}
