.adsbygoogle.ad-dev {
    background-color: #ddd;
    min-height: 64px;
}

.c-sidebar__module .sidebar-ad {
    text-align: center;
}

.articles__content-block--ad {
  padding-left: 1.1em;
  padding-right: 1.1em;
  margin-top: 16px;
}

.Post_footer__ad {
  max-width: 50rem;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 3.5rem;
}
