.HorizontalMenu {
  display: none;
  .active > a {
    background: none;
    font-weight: 600;
    @include themify($themes) {
      color: themed('textColorAccent');  
    }  

  }
  li > a:hover {
    // color: $black;
  }
  > li:first-child > a {
    padding-left: 0;
  }
  > li:last-child > a {
    padding-right: 0;
  }
}


@media screen and (min-width: 52.5em) { 
  ul.HorizontalMenu.menu {
    display: flex;
    padding-left: 0.5em;

    li > a {
      padding-left: 0.5em;
      padding-right: 0.5em;  
    }
  }
}



@media print, screen and (min-width: 52.5em) {  
  .menu-hide-for-large {
    display: none !important; 
  }
}