.isChecked {
    .switchery {
        background: #60A2EC!important;
        small {
            border:1px solid #60A2EC;
        }
    }
}

.iostoggle {
    .switchery {
        height: 27px;
        > small {
            top:0;
            height:25px;
            width:25px;
        }
    }
}

