.PostCategoryBanner{

  margin: .5em 0;
  .postTo{
    small{
      color: #aaa;
      .smallLabel{
        color: #ccc;
      }
  }
}

  .categoryName{
    display: flex;
    justify-content: flex-start;
align-items: center;
  }
  h3{
    line-height: normal !important;
    padding: 0 0 0 .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
