.Reputation {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0 3px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  top: -1px;
  @include themify($themes) {
    color: themed('textColorPrimary');
    border: themed('borderDark');
  }  
}
