.TagList {
  ul.VerticalMenu {
    a {
      padding: 0 0.4rem;
      line-height: 1.5;
      color: inherit;
    }
  }
}

.TagList__horizontal {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  a {
    transition: 0.2s all ease-in-out;
    @include themify($themes) {
      background: themed('backgroundColor');
      color: themed('textColorPrimary');
      border: themed('border');
    }  
    padding: 6px 7px;
    margin: 5px 10px 5px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.03);
    @include font-size(14px);
    &:last-child {
      margin-right: 0;
    }    
    &:hover {
      @include themify($themes) {
        background: themed('backgroundColor');
        color: themed('textColorPrimary');
        border: themed('borderDark');
      }  
    }
  }
}



