
.UserKeys {
	.hoverBackground {
		transition: 0.2s all ease-in-out;
	  &:hover {
		  @include themify($themes) {
		    background-color: themed('backgroundColorOpaque');  
		    color: themed('textColorPrimary');  
		  }      
	  }
	}
	.button.hollow {
		@extend .e-btn-hollow;
	}
}
