.VotesAndComments {
  path {
    fill: $medium-gray;
  }
  circle {
    stroke: none;
  }
  a {
    font-weight: normal;
  }
  white-space: nowrap;
}

.VotesAndComments__votes {
  padding-right: 1rem;
}

.VotesAndComments__comments {
  padding-left: 1rem;
  border-left: 1px solid $medium-gray;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .VotesAndComments {
    display: block;
    width: auto;
    float: right;
  }
}
