
.WhatIsGolos {

  &__video {
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    iframe {
      max-width: 100%;
    }
  }

  &__action {
    margin-top: 65px;
    margin-bottom: 100px;
  }
}
