
.MarkdownViewer__negative_group {
    color: crimson;
    border-top: 1px solid $medium-gray;
    padding-top: 1rem;
}

.MarkdownViewer {

  height: 100%;
  overflow: hidden;

  div.pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
  }

  div.pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
  }

  div.text-justify {
    text-align: justify;
  }

  div.text-rtl {
    direction: rtl;
  }
}
