.PostFull {
  padding-bottom: 1rem;
  margin: 0 auto;
  max-width: 50rem;
  border-bottom: 1px solid $light-gray;

  .ReplyEditor {
    margin-top: 1rem;
  }
}

.PostFull__time_author_category {
  color: $dark-gray;
  font-weight: 400;
  border-right: 1px solid $medium-gray;
  padding-right: .6rem;
  margin-right: .6rem;
  > span {
    white-space: nowrap;
  }
}

.PostFull__header {
  > h1 {
    overflow: hidden;
    font: 700 200% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    .Icon {
      margin: 0 0 0 0.5rem;
      vertical-align: -30%;
    }
  }
  a {
    color: $dark-gray;
    font-weight: 600;
    @include hoverUnderline;
  }
  .PostFull__time_author_category {
    border-right: none;
    .Icon.clock {
      top: 5px;
      svg {
        fill: $dark-gray;
      }
    }
  }
}

.PostFull__body {
  padding: 1rem 0 2rem 0;
  clear: left;

  font-family: Georgia, serif;
  font-size: 120%;
  line-height: 150%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  table td {
    word-break: normal; // issue #146
  }

  p {
    font-size: 100%;
    line-height: 150%;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  iframe {
    max-width: 100%;
    max-height: 75vw;
  }
}

.PostFull__footer {
  clear: right;
  line-height: 2rem;
  font-size: 94%;
  svg {
    fill: $dark-gray;
  }
  a, .FoundationDropdownMenu__label {
    color: $dark-gray;
    font-size: 94%;
    font-weight: 600;
    @include hoverUnderline;
  }
  .FormattedAsset {
    font-size: 110%;
  }
  .Voting {
    //padding-right: 1rem;
    //margin-right: 1rem;
  }
  .VerticalMenu > li > a {
    color: $dark-gray;
  }
  span {
    white-space: normal;
  }

  .Reblog__button {
    margin-left: .3rem;
    padding-right: .6rem;
    margin-right: .6rem;
    border-right: 1px solid $medium-gray;
  }
}

.PostFull__responses {
  padding-right: .6rem;
  //margin-right: 1rem;
  //border-right: 1px solid $medium-gray;
}

.PostFull__views {
  padding-right: .6rem;
  margin-right: .6rem;
  color: $dark-gray;
  font-size: 94%;
  font-weight: 600;
  border-right: 1px solid $medium-gray;
}

.PostFull__reply {
  padding-right: .6rem;
  margin-right: .6rem;
  border-right: 1px solid $medium-gray;
  a {margin: 0 0.15rem;}
}

.PostFull__lifetime {
  color: $dark-gray;
  font-size: 80%;
}

.Author__dropdown {
  padding: 1rem;
  > a {
    @include hoverUnderline;
  }
}

.Promote__button {
  margin-right: 0px!important;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .Post {
    width: 100%;
    overflow: hidden;
  }
  .PostFull__footer > .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .PostFull__footer > .RightShare__Menu {
    text-align: left;
  }
}
