ul.PostsList__summaries {
  margin-left: 0;
}

.PostSummary {
  padding: 0 0 0.5rem;
  margin: 0 0 1.25vw;
  background-color: #fff;
  clear: left;
  @include clearfix;

  .PostSummary__nsfw-warning {
    border: 1px solid $medium-gray;
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
    min-height: 80px;
  }

  .nsfw-flag {
     color: #C00;
     border: 1px solid #C00;
     font-size: 75%;
     border-radius: 3px;
     font-weight: normal;
     font-family: $body-font-family;
     margin: 0 0.1rem;
     padding: 0 0.2rem;
  }
}

.PostSummary__image {
  float: left;
  width: 130px;
  height: 4.5rem;
  background-color: #EEE;
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: 50% 20%;
  border: 1px solid #EEE;
}

.PostSummary__post-visited {
  text-decoration: underline;
}

.PostSummary__image-mobile {
  display: block;
  background: #F8F8F8;

  img {
    margin: 0 auto;
    margin-top: 0.2rem;
    display: block;
    max-width: 100%;
    max-height: 80vw;
    background: white;
    transform: translate3d(0, 0, 0);
  }
}

.PostSummary.with-image .PostSummary__reblogged_by,
.PostSummary.with-image .PostSummary__content {
  margin-left: 8.5rem;
}

.PostSummary__header {
  > h1 {
    font: 600 100% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    > a {
      color: #000;
    }
    > a:visited {
      color: #b3b3b3;
    }
    .Icon {
      margin: 0 0.25rem;
      svg {
        width: 0.85rem;
        height: 0.85rem;
        vertical-align: 5%;
      }
    }
  }
  .nsfw-flag {
    margin-right: 0.25rem;
  }
}
.PostSummary__collapse {
  visibility: hidden;
}

.PostSummary:hover .PostSummary__collapse {
  visibility: visible;
}

.PostSummary__body {
  width: auto;
  padding: 0.3rem 0.1rem 0.15rem;
  font-family: $body-font-family;
  color: #3f3f3f;
  overflow: hidden;
  line-height: 1.4;
  white-space: nowrap;
  text-overflow: ellipsis;

  a {
    color: inherit;
    display: inline;
  }
  > a:visited {
    color: #6f6f6f;
  }
}

.PostSummary__footer {
  color: $dark-gray;
  font-weight: 400;
  path {
    fill: $dark-gray;
  }
  a {
    color: $dark-gray;
    font-weight: bold;
  }
  .FormattedAsset {
    font-weight: normal;
    font-size: 110%;
  }
  .Icon {
    position: relative;
    top: -1px;
  }
}

.PostSummary__time_author_category {
  color: $dark-gray;
  a {
    color: $dark-gray;
    font-weight: bold;
    @include hoverUnderline;
  }
  padding-left: 1rem;
  margin-left: 1rem;
  border-left: 1px solid #cacaca;

  .Reblog__button {
    margin-left: .5rem;
    margin-right: 1rem;
    padding-right: 1rem;
  }
}

.PostSummary__time_author_category_small a {
  color: $dark-gray;
}

@media screen and (min-width: 39.9375em) {
  .PostSummary.with-image .PostSummary__reblogged_by .Icon.reblog {
    margin-left: -22px;
  }
}

.PostSummary__reblogged_by {
  .Icon path {
    fill: #cacaca;
  }
  color: $dark-gray;
  font-size: 90%;
  margin-top: -0.5rem;
  a {
    color: inherit;
    font-weight: bold;
    @include hoverUnderline;
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .PostSummary {
    padding: 1rem 0.5rem;
    margin-bottom: 0;
    border: none;
    border-top: 1px solid $light-gray;
  }
  .PostSummary__image {
    float: none;
    margin-top: 0.5rem;
    // background-size: contain;
    display: block;
    width: 100%;
    height: 40vw;
  }
  .PostSummary__body {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    white-space: normal;
    text-overflow: initial;
    padding-bottom: 0.3rem;
    a {
        display: block;
    }
  }
  .PostSummary.with-image .PostSummary__reblogged_by,
  .PostSummary.with-image .PostSummary__content {
    margin-left: 0;
  }
  .PostSummary__footer .Voting, .PostSummary__footer .Voting__inner {
    border-right: none;
  }
}
