.PostFull {
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 50rem;
  border-bottom: 1px solid $light-gray;

  .ReplyEditor {
    margin-top: 1rem;
  }
}

.PostFull__time_author_category {
  color: $dark-gray;
  font-weight: 400;
  border-right: 1px solid $medium-gray;
  padding-right: .6rem;
  margin-right: .6rem;
  > span {
    white-space: nowrap;
  }
}

.PostFull__time_author_category_large {
  margin: 1.75rem 1.5rem 1.2rem 0;
  color: #aaa;
  strong, a {color: #999}
  font-size: 125%;
  display: block;
  > .Userpic {
    margin-top: -4px;
    float: left;
  }
  > .right-side {
    margin-left: 60px;
  }
}

.PostFull__header {
  > h1 {
    overflow: hidden;
    font: 700 200% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    .Icon {
      margin: 0 0 0 0.5rem;
      vertical-align: -30%;
    }
  }
  a {
    color: $dark-gray;
    font-weight: 600;
    @include hoverUnderline;
  }
  .PostFull__time_author_category {
    border-right: none;
    .Icon.clock {
      top: 5px;
      svg {
        fill: $dark-gray;
      }
    }
  }
}

.PostFull__body {
  padding: 1rem 0 2rem 0;
  clear: left;
  a {
    color: #4078C0;
  }
}

.PostFull__footer {
  clear: right;
  line-height: 2rem;
  font-size: 94%;
  svg {
    fill: $dark-gray;
  }
  a, .FoundationDropdownMenu__label {
    color: $dark-gray;
    font-size: 94%;
    font-weight: 600;
    @include hoverUnderline;
  }
  .FormattedAsset {
    font-size: 110%;
  }
  .Voting {
    //padding-right: 1rem;
    //margin-right: 1rem;
  }
  .VerticalMenu > li > a {
    color: $dark-gray;
  }
  span {
    white-space: normal;
  }

  .Reblog__button {
    padding-right: .4rem;
    margin-right: .4rem;
    border-right: 1px solid $medium-gray;
  }
}

.PostFull__responses {
  padding-right: .4rem;
  //margin-right: 1rem;
  //border-right: 1px solid $medium-gray;
}

.PostFull__views {
  padding-right: .4rem;
  margin-right: .4rem;
  color: $dark-gray;
  font-size: 94%;
  font-weight: 600;
  border-right: 1px solid $medium-gray;
}

.PostFull__reply {
  padding-right: .4rem;
  margin-right: .4rem;
  border-right: 1px solid $medium-gray;
  a {margin: 0 0.15rem;}
}

.PostFull__lifetime {
  color: $dark-gray;
  font-size: 80%;
}

.Author__dropdown {
  padding: 1rem;
  > a {
    @include hoverUnderline;
  }
}

.explore-post {
  margin-right: 0px!important;
}

input.share-box {
  width: 75%!important;
  display: inline;
}

.ExplorePost {
  span.extlink {
    vertical-align: text-bottom;
  }
  h5 {
    margin-top: 1em;
  }
  .ExplorePost__copy-button {
    cursor: pointer;
  }
}

.chain-right {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .Post {
    width: 100%;
    overflow: hidden;
  }
  .PostFull__footer > .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .PostFull__footer > .RightShare__Menu {
    text-align: left;
  }
  input.share-box {
    height: 2.8em;
    font-size: .8em;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  input.share-box {
    height: 2.8em;
    font-size: .8em;
  }
}
