.PostFull {
  padding-bottom: 1rem;
  padding-top: 2rem;
  margin: 0 auto;
  max-width: 50rem;
  border-bottom: 1px solid $light-gray;

  .ReplyEditor {
    margin-top: 1rem;
  }
}

.PostFull__time_author_category {
  color: $dark-gray;
  font-weight: 400;
  border-right: 1px solid $medium-gray;
  padding-right: .6rem;
  margin-right: .6rem;
  > span {
    white-space: nowrap;
  }
}

.PostFull__time_author_category_large {
  margin: 1.75rem 1.5rem 1.2rem 0;
  color: #aaa;
  strong, a {color: #999}
  font-size: 120%;
  display: block;
  > .Userpic {
    margin-top: -4px;
    float: left;
  }
  > .right-side {
    margin-left: 60px;
  }
}

.PostFull__header {
  > h1 {
    overflow: hidden;
    font: 700 200% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    .Icon {
      margin: 0 0 0 0.5rem;
      vertical-align: -30%;
    }
  }
  a {
    color: $dark-gray;
    font-weight: 600;
    @include hoverUnderline;
  }
  .PostFull__time_author_category {
    border-right: none;
    .Icon.clock {
      top: 5px;
      svg {
        fill: $dark-gray;
      }
    }
  }
}

.PostFull__body {
  padding: 1rem 0 2rem 0;
  clear: left;

  font-family: Georgia, serif;
  font-size: 120%;
  line-height: 150%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  a {
    color: #4078C0;
  }

  table td {
    word-break: normal; // issue #146
  }

  p {
    font-size: 100%;
    line-height: 150%;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  iframe {
    max-width: 100%;
    max-height: 75vw;
  }
}

.PostFull__footer {
  clear: right;
  line-height: 2rem;
  font-size: 94%;
  svg {
    fill: $dark-gray;
  }
  a, .FoundationDropdownMenu__label {
    color: $dark-gray;
    font-size: 94%;
    font-weight: 600;
    @include hoverUnderline;
  }
  .Voting {
    //padding-right: 1rem;
    //margin-right: 1rem;
  }
  .VerticalMenu > li > a {
    color: $dark-gray;
  }
  span {
    white-space: normal;
  }

  .Reblog__button {
    padding-right: .4rem;
    margin-right: .4rem;
    border-right: 1px solid $medium-gray;
  }
}

.PostFull__responses {
  padding-right: .4rem;
  //margin-right: 1rem;
  //border-right: 1px solid $medium-gray;
}

.PostFull__views {
  padding-right: .4rem;
  margin-right: .4rem;
  color: $dark-gray;
  font-size: 94%;
  font-weight: 600;
  border-right: 1px solid $medium-gray;
}

.PostFull__reply {
  padding-right: .4rem;
  margin-right: .4rem;
  border-right: 1px solid $medium-gray;
  a {margin: 0 0.15rem;}
}

.PostFull__lifetime {
  color: $dark-gray;
  font-size: 80%;
}

.Author__dropdown {
  padding: 1rem;
  > a {
    @include hoverUnderline;
  }
}

.explore-post {
  margin-right: 0px!important;
}

input.share-box {
  width: 75%!important;
  display: inline;
}

.ExplorePost {
  span.extlink {
    vertical-align: text-bottom;
  }
  h5 {
    margin-top: 1em;
  }
  .ExplorePost__copy-button {
    cursor: pointer;
  }
}

.chain-right {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

.Promote__button {
  margin-right: 0 !important;
  margin-left: 1em;
}

.ProlongPost {
  .rangeslider {
    position: relative;
    float: left;
    background: $light-gray;
    .rangeslider__fill, .rangeslider__handle {
      position: absolute;
    }
    &, .rangeslider__fill {
      display: block;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
    }
    &, .rangeslider__fill_disabled {
      display: block;
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }
    .rangeslider__handle {
      background: $white;
      border: 1px solid #ccc;
      cursor: pointer;
      display: inline-block;
      position: absolute;
      &:active {
        background: #4ba2f2;
      }
    }
    .rangeslider__handle_disabled {
      border: 1px solid #e8e8e8;
      &:active {
        background: rgba(162, 162, 162, .2);
      }
    }
  }
  .rangeslider-horizontal {
    height: 10px;
    width: 200px;
    background: none;
    float: left;
    margin-top: 18px;
    margin-bottom: 18px;
    .rangeslider__fill {
      height: 100%;
      background: #4ba2f2;
      box-shadow: none;
      left: 0;
    }
    .rangeslider__handle {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      top: -10px;
      &:active {
        box-shadow: none;
      }
    }
  }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .Post {
    width: 100%;
    overflow: hidden;
  }
  .PostFull__footer > .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  .PostFull__footer > .RightShare__Menu {
    text-align: left;
  }
  input.share-box {
    height: 2.8em;
    font-size: .8em;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  input.share-box {
    height: 2.8em;
    font-size: .8em;
  }
}
