.HighLightWrapper {
  display: block;
}

div.medium-editor-toolbar {
  ul {
    background: white;
    
    border-radius: 5px;
    border: 2px solid #aaa;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '#4c4c4c', endColorstr='#131313',GradientType=0 );
    padding: 0 10px;

    li {
      button {
        margin-right: 0 !important;
        padding: 10px;

        &.Ob {
          color: $observation;
        }
        &.Qu {
          color: $question;
        }
        &.Hy {
          color: $hypothesis;
        }
      }
    }
  }
}

div.medium-toolbar-arrow-under::before {
  content: '';
  border-top: 10px solid #aaa;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  position: absolute;
  margin-left: -11px;
  left: 50%;
  top: calc(100% - 2px);
}

div.medium-toolbar-arrow-under::after {
  content: '';
  border-top: 7px solid white;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  left: 50%;
  top: calc(100% - 2px);
}
