.SearchItemWrapper {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 15px;
  margin-right: 25px;
  margin-left: 80px;
  position: relative;
  padding-bottom: 10px;

  .Main {
    position: relative;

    .ViewMore {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .Comments {
    margin-top: 15px;
    padding: 10px 0 10px 40px;
    border-left: 1px solid #f2f2f2;

    .Comment {
      margin-bottom: 0;
    }

    .Votes {
      width: 40px;
      left: -40px;
      font-size: 13px;

      > div svg {
        width: 15px;
        height: 15px;
      }
    }
  }

  .Title {
    color: #797979;
    font-size: 18px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    display: block;

    &:hover {
      border-bottom: 0;
    }

    span {
      font-family: sans-serif;
      font-weight: bold;
    }
  }

  .Type {
    color: $observation;

    &.Q {
      color: $question;
    }

    &.H {
      color: $hypothesis;
    }
  }

  .Description {
    color: #999999;
    font-size: 15px;
    margin-top: 3px;
  }

  .Info {
    align-items: center;
    display: flex;
    margin-bottom: 15px;
    padding-top: 8px;
    justify-content: space-between;

    .Extra {
      color: #999999;
      font-size: 14px;
      text-align: right;
    }
  }

  .User {
    display: flex;
    align-items: center;
    flex-grow: 1;

    img {
      float: left;
      height: 35px;
      margin-right: 10px;
    }

    > div {
      .UserName {
        color: $color-input;
        font-size: 16px;
        line-height: 20px;
      }

      .UserTitle {
        color: $color-grey;
        font-size: 14px;
      }
    }
  }

  .Votes {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;

    left: -80px;
    top: 0;

    height: 100%;
    width: 80px;

    font-family: Futura;
    font-size: 16px;
    font-weight: 400;

    > div {
      color: #cacaca;
      cursor: pointer;
      margin: 2px 0;
      position: relative;
      line-height: 1.2;

      svg {
        width: 18px;
        height: 18px;
      }

      &:hover {
        opacity: 0.7;
      }

      &.Voted {
        color: #47bf78;

        &.Down {
          color: #e5453f;
        }

        &.Normal {
          color: #cacaca;
        }
      }
    }
  }

  &.Related {
    .Title {
      color: #4d4d4d;
    }

    .Info {
      justify-content: space-between;
      margin-bottom: 12px;

      .Extra {
        color: #999999;
        font-size: 14px;
        text-align: right;
      }
    }

    .Votes {
      height: calc(100%);
    }
  }
  
  .Actions {
    text-align: right;

    > svg {
      color: #b3b3b3;
      cursor: pointer;
      margin-left: 25px;

      height: 22px;
      width: 22px;

      &:hover {
        color: #4bbefd;
      }
    }
  }

  .actions-wrapper {
    &.desktop {
      display: block;
      margin-right: 40px;
    }

    &.mobile {
      margin-top: 10px;
      display: none;
    }
  }

  @media all and (max-width: 767px) {
    margin-left: 35px;
    margin-right: 0px;

    .Votes {
      width: 35px;
      left: -40px;
    }

    .actions-wrapper {
      &.mobile {
        display: block;
      }
  
      &.desktop {
        display: none;
      }
    }
  }
}
