.CreateAccount__rules {
  opacity: 0.5;
  p {
    text-align: center;
  }
}

.CreateAccount__rules-button {
  background-color: #f2f2f2;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  font-size: 0.8rem;
  color: $dark-gray;
}
