.Footer {
  border: none;
  margin-top: 2rem;
  margin-bottom: 0;
  border-right: none;
  border-radius: 0;
  background-color: $medium-gray;
}

.Footer__section {
  line-height: 1.5rem;
  padding: 0.7rem 1rem;
}
