.sub-menu {
    li {
        padding: .7rem 0.5rem;
        a {
            padding: 0px;
        }
    }
    li:last-child {
        padding: 0 0 0 1rem;
    }
    li.show-for-medium.submit-story {
        @extend .e-btn;
        margin-right: 22px;
        margin-left: 16px;
        > a {
            @include themify($themes) {
                background: themed('textColorAccent');  
              }         
            //text-color: white;
            transition: all 0.3s ease-in-out;
        }
    }
}

li.Header__userpic {
  padding: 0;
  position: relative;
  a {
      padding: 6px;
  }
  .Userpic {
    width: 36px !important;
    height: 36px !important;
  }
}

.TopRightMenu__notificounter {
    position: absolute;
    top: 4px;
    right: 4px;
    > .NotifiCounter {
        display: block;
    }
}

div.Header__top
{
    li.Header__hamburger.toggle-menu {
        &.toggle-menu {
            padding-left: 0.25rem;
        }
        > a {
            padding: 14px 0 14px 14px;
        }
    }
}
