
.UserWallet__buysp {
  &.button.hollow {
    transition: 0.2s all ease-in-out;
    @include themify($themes) {
      border: themed('borderAccent');  
      color: themed('textColorAccent');  
    } 
    &:hover {
      @include themify($themes) {
        border: themed('borderDark');  
        color: themed('textColorPrimary');  
      }       
    }     
  }
}

.UserWallet__balance {
  padding-bottom: 1rem;
  padding-top: 1rem;

  &.UserWallet__balance.zebra {
      @include themify($themes) {
        background-color: themed('tableRowEvenBackgroundColor');  
        color: themed('textColorPrimary');  
      }   
  }
}

.UserWallet__buysp {
  margin-right: 0 !important;
  margin-top: 1rem;
}

.UserWallet__dropdown {
}

.UserWallet__claimbox {
  margin: 1.5rem 0 0.5rem;
  padding: 1rem;
  background: #dff0d8;
  border-radius: 5px;
  @include themify($themes) {
    border: themed('border');  
  }     

  .button {
    background: #337ab7;
    border-color: #2e6da4;
    color: white;
    margin-top: -0.5rem;
  }
  // spacing for mobile collapse
  @media only screen and (max-width: 30em) {
      .button {
          margin-top: 1.5rem;
      }
  }
}

.WalletSubMenu {
  > li > a {
    transition: 0.2s all ease-in-out;
    @include themify($themes) {
      color: themed('textColorSecondary');  
    }  

    &:hover, &:focus {
      @include themify($themes) {
        color: themed('textColorAccent');  
      }  
    }
  }
  > li > a.active {
    cursor: default;
    @include themify($themes) {
      color: themed('textColorPrimary');  
    }     
    font-weight: bold;
  }
  @include themify($themes) {
    border-bottom: themed('border');  
  }       

  margin: 0.5rem 0 1rem;
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
    .Wallet_dropdown {
        left: 10px!important;
    }
}
