.YotificationSettingsPanel {
    ul {
        list-style:none;
        margin: 0px;
        li {
            border-bottom: 1px solid $notif_item_border_color;
            padding: 15px 10px;

            .yotification-toggle {
                display: inline-block;
                float: right;
            }
        }
    }
}
