{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["transform-runtime", "transform-decorators-legacy"],
  "env": {
      "browser": {
        "plugins": [["react-transform", {
          "transforms": [
          {
            "transform": "react-transform-catch-errors",
            "imports": [
              "react",
              "redbox-react"
            ]
          }]
        }]]
      }
    }
}
