{
  "presets": ["es2015", "stage-0", "react"],
    "plugins": [
        "transform-regenerator",
        "transform-async-to-generator",
    ],
    "env": {
      "browser": {
        "plugins": [["react-transform", {
          "transforms": [
          {
            "transform": "react-transform-catch-errors",
            "imports": [
              "react",
              "redbox-react"
            ]
          }]
        }], ["transform-runtime", {
            "polyfill": false,
            "regenerator": true
        }]]
      }
    }
}
