.DS_Store
.idea
coverage
node_modules
*.log
dist
vendor/*
tmp/*
config/steem.json
config/steem-dev.json
config/process.json
config/last-build.json
config/public.json
app/assets/static/*.js
clean.sh
db/config/config.json
screenlog*
