.DS_Store
.idea
coverage
node_modules
*.log
dist
vendor/*
tmp/*
config/client_config.js
config/golos.json
config/golos-dev.json
config/process.json
config/process-dev.json
config/process-prod.json
app/assets/static/*.js
run/config/client/steem.json
run/config/client/steem-dev.json
run/config/pm2/process.json
db/config/config.json

