.DS_Store
.idea
coverage
node_modules
*.log
dist
vendor/*
tmp/*
app/assets/static/*.js
app/assets/static/*.json
app/assets/google*.html
app/assets/mailru*.html
app/assets/yandex*.html
app/assets/sitemap.xml
app/assets/robots.txt

config/golos.json
config/golos-dev.json
config/process.json
config/process-dev.json
config/process-prod.json

db/config/config.json

run/config/client/golos.json
run/config/client/golos-dev.json
run/config/pm2/process.json

.vagrant
