
.Witnesses {
	.extlink path {
		transition: 0.2s all ease-in-out;
	     @include themify($themes) { 
	       fill: themed('textColorAccent');  
	    }   		
	}
	a:hover .extlink path {
		transition: 0.2s all ease-in-out;
	     @include themify($themes) { 
	       fill: themed('textColorAccentHover');  
	    }   		
	}
	td > a {
		@extend .link;
		@extend .link--primary;		
	}

	.button {
		background-color: $color-text-teal;
		text-shadow: 0 1px 0 rgba(0,0,0,0.20);
		transition: 0.2s all ease-in-out;
		&:hover {
			background-color: $color-teal;
		}
	}		
}


