.App {
  // min-height: 100vh;
  padding-top: 50px;
}

.App__content {
    margin-top: 3.5rem;
    /* Small only */
    @media screen and (max-width: 39.9375em) {
        margin-top: 1.5rem;
    }
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        margin-top: 3.5rem;
    }
    /* Large and above */
    @media screen and (min-width: 64.063em) {
        margin-top: 3.5rem;
    }
    .callout {
      margin-top: 0.75rem;
    }
}

.mini-header .App__content {
  margin-top: 0;
}

.welcomeWrapper {
  margin-top: -1rem;
  padding-bottom: 1rem;
}
.welcomeBanner {
  padding-bottom: 2.35rem;
  background-color: #fafbfd;
  background-image: url(../images/lp-bottom.jpg);
  background-repeat: repeat-x;
  background-position:bottom;
  //background-attachment:fixed;
}

.RightMenu {
  background-color: #555;
  height: 100vh;
  color: #fff;
  padding-top: 3rem;
  .close-button {
    color: #fff;
  }
  .menu > li {
    > a {
      color: #fff;
      border-top: 1px solid #777;
    }
    > a:hover {
      background-color: #666;
    }
  }
  .menu > li.last {
    border-bottom: 1px solid #777;
  }
  .button.hollow {
    color: #fff;
    border: none;
  }
}
.PlainLink {
    color: #8a8a8a;
}

.welcomeBanner {
  position: relative;
  h2 {
    font-size: 3.8rem;
    font-weight: 300;
    margin-bottom: 0;
    /* Small only */
    @media screen and (max-width: 39.9375em) {
        font-size: 1.8rem;
        padding-top: 2.5rem;
    }
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        font-size: 3rem;
    }
    /* Large and above */
    @media screen and (min-width: 64.063em) {}
  }
  h4 {
    color: #999;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .close-button {
    top: 0.5rem;
  }
  .button.hollow {
    background-color: rgba(255,255,255,0.5);
  }
}
.downvoted {
    color: #848282;
    opacity: .3;
    -webkit-filter: grayscale(1); // image
    filter: gray; // image grayscale
    .Comment__header-user {
        color: #848282;
    }
}
.downvoted:hover {
    opacity: 1;
    filter: none;
    -webkit-filter: none;
}

.App__announcement {
  padding-right: 40px;
}

.Feedback {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 101;
  margin-top: 6.25rem;
  transform: rotate(-90deg);
  transform-origin: left top 0;
  a {
    bottom: 0;
    position: absolute;
    font-size: 87.5%;
    font-weight: bold;
    text-transform: uppercase;
    width: 140px;
    height: 22px;
    left: -140px;
    text-align: center;
    background-color: #3adb76;
    color: #fefefe;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  a:hover, a:focus {
    height: 24px;
    background-color: #22bb5b;
  }
}

@media screen and (max-width: 660px) {
  .Feedback {
    display: none;
  }
}
