
@mixin dialog-tip() {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  margin-bottom: -5px;
  content: '';
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  background: #fff;
  box-shadow: 2px 2px 4px 0 rgba(0,0,0, 0.1);
}
