form.search-input {

    float:left;

    height: 42px;

    svg.search-input__icon {
        position: absolute;
        pointer-events: none;
      stroke: #000;
        stroke-width: 1.2;
        fill: none;

    }

    input.search-input__inner {
        border: 1px solid #000;
        padding: 9px 10px 9px 32px;
                    padding-left: 2.5rem;
        width: 55em;
        border-radius: 10px;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        background: transparent;
        box-shadow: none;
        width: 42em;
        height: 42px;
        color: black;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: $font-primary;
        @include themify($themes) {
            border: 1px solid rgba(202, 202, 202, 0.6);
        }
        &::placeholder {
            color: #666;
        }
        &:hover {
            background-color: #fdfdfd;
        }
        &:focus {
            background-color: $color-white;
            @include themify($themes) {
                border: themed('moduleBackgroundColor');
            }
            border-color: black;
            box-shadow: 0 0 5px rgba(0,0,0,.5);
            padding-left: 2.5rem;
            @include themify($themes) {
                color: themed('textColorPrimary');
            }
            background-color: transparent;
            cursor: auto;
            &::placeholder {
                color: $color-blue-dark;
                @include themify($themes) {
                    color: themed('textColorSecondary');
                }
            }
        }
    }

    /* small */
    input.search-input__inner.search-input__inner--small {

    }
}
