form.search-input {

    height: 42px;

    svg.search-input__icon {
        position: absolute;
        pointer-events: none;
        z-index: 1;
        @include themify($themes) {
            stroke: themed('colorAccentReverse');
        }
        stroke-width: 1.2;
        fill: none;
    }

    input.search-input__inner {
        outline: none;
        padding: 9px 10px 9px 32px;
        width: 55px;
        border-radius: 25pc;
        transition: all 0.3s ease-in-out;
        font-size: 16px;
        background: transparent;
        box-shadow: none;
        width: 42px;
        height: 42px;
        color: transparent;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        font-family: $font-primary;
        transition: 0.2s all ease-in-out;
        &:hover {
            transform: scale(1.075);            
            @include themify($themes) {
                background-color: themed('colorAccent');
            }            
        }              
        @include themify($themes) {
            border: themed('borderMedium');
        }
        &::placeholder {
            color: transparent
        }
        &:hover, &:focus {
            @include themify($themes) {
                border: themed('borderAccent');
            }            
        }  
        &:focus {
            width: 200px;
            background-color: $color-white;
            padding-left: 2.5rem;            
            background-color: transparent;
            cursor: auto;            
            @include themify($themes) {
                border: themed('borderAccent');
                color: themed('textColorPrimary');
            }
            &::placeholder {
                color: $color-blue-dark;
                @include themify($themes) {
                    color: themed('textColorSecondary');
                }
            }
        }
        &:focus:hover {
            transform: scale(1);
            background-color: transparent;
        }
    }

    /* small */
    input.search-input__inner.search-input__inner--small {

    }
}

form.search-input {
    &:focus-within {
        svg.search-input__icon {
            @include themify($themes) {
                stroke: themed('colorAccent');
            }        
        }
    }
}
