.AuthWrapper {
  display: flex;
  min-height: calc(100vh - 80px);

  > div {
    box-sizing: border-box;
    max-height: 100vh;
    position: relative;
    width: 50%;

    display: flex;
    justify-content: center;
    @media (max-width: 768px) {
      width: 100%;
    }

    &.Left > div {
      max-width: 500px;
      padding: 140px 30px 60px;
      width: 100%;

      .Title {
        color: $color-grey;
        font-family: 'Panton Bold';
        font-size: 42px;
        margin-bottom: 10px;

        span {
          color: $color-dark;
        }
      }

      .Description,
      .callout {
        color: $color-grey;
        font-size: 17px;
        min-height: 65px;

        > p {
          font-size: 15px;
          margin-bottom: 8px;
        }

        .login-link {
          margin-top: 20px;
        }
      }

      form {
        margin-bottom: 35px;

        [type="password"],
        [type="text"] {
          padding: 25px 0 0;
        }

        .Inputs {
          margin-bottom: 35px;

          &-wrapper {
            box-shadow: 25px 25px 52px rgba(0, 0, 0, 0.06);
          }
        }

        .InputWrapper:not(:last-child) {
          border-bottom: 0;
        }

        .secondary {
          color: #b3b3b3;
        }
      }

      .Extra {
        display: flex;
        justify-content: space-between;

        color: $color-input;
        font-size: 14px;
        line-height: 21px;

        .ForgetPassword {
          cursor: pointer;

          &:hover {
            color: $color-grey;
          }
        }
      }
    }

    &.Right {
      align-items: center;
      background-color: $color-grey;
      background-image: url('~app/assets/images/static/back_shapes.png');
      background-size: contain;

      box-sizing: border-box;
      height: 100vh;
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      width: 50%;
      @media (max-width: 768px) {
        display: none;
      }

      .Knowledgr {
        margin-left: 10%;
        max-width: 250px;
        width: 33%;
      }
    }
  }

  .Logo {
    position: absolute;
    cursor: pointer;

    height: 30px;
    left: 30px;
    top: 30px;
  }
}
