.Sticky {
  position: absolute;
  left: -60px;

  .SideMenu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $sans-serif;
    font-weight: 300;

    .Vote {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 100px;
      height: 90px;

      .Value {
        pointer-events: none;
      }
    }

    .Item {
      margin-bottom: 7px;
      width: 30px;
      height: 30px;
      background: #939393;
      font-size: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 2px;
      cursor: pointer;
      transition: all .3s;

      &:hover {
        background: #93939380;
        color: $blue;
      }
    }
  }
}
