
.welcome-slider {
  display: flex !important;
  align-items: center;

  &__dots {
    position: relative;
    list-style: none;

    li {
      text-align: center;
      margin: 5px 0;
    }

    .Userpic {
      cursor: pointer;
    }

    .slick-active .Userpic {
      width: 60px !important;
      height: 60px !important;
    }
  }
}
