
.EditorSwitcher {
  display: flex;
  padding-top: 16px;
  margin: 0 0 40px;
  border-bottom: 1px solid #e1e1e1;

  &__item {
    padding: 3px 3px 10px;
    margin-right: 30px;
    margin-bottom: -1px;
    border-bottom: 4px solid transparent;
    white-space: nowrap;
    letter-spacing: 1.4px;
    color: #b7b7b9;
    font-size: 18px;
    transition: color 0.1s;
    flex-shrink: 0;
    cursor: pointer;
    user-select: none;
    text-transform: uppercase;

    &_active {
      font-weight: 500;
      color: #000;
      border-bottom-color: #0078C4;
      cursor: default;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #000;
    }
  }

  &__filler {
    flex-grow: 1;
  }
}
