
.PostForm {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__work-area {
    flex-grow: 1;
    flex-shrink: 0;
    width: 100%;
    min-height: 400px;
  }

  &_page &__work-area {
    padding-top: 10px;
  }

  &_page &__work-area {
    height: calc(100% - 80px);
    overflow-y: auto;
  }

  &__content {
    max-width: 808px;
    margin: 0 auto;
  }

  &_page &__content {
    padding: 0 8px;
  }

  &__preview {
    max-width: 800px;
    margin: 0 auto;
  }

  &__title-preview {
    font: 700 200% 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Arial, sans-serif;
  }

  &__footer {
    width: 100%;
    flex-shrink: 0;
    z-index: 1;
    user-select: none;
  }

  &_page &__footer {
    background: #fff;
    box-shadow: 0 -2px 12px 0 rgba(0,0,0, 0.07);
  }

  &__footer-content {
    width: 100%;
    max-width: 75rem;
    padding: 0 8px;
    margin: 0 auto;
  }

  &__spinner {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    color: #999;
    pointer-events: none;
    opacity: 0;
    animation: fade-in 1s forwards;
    animation-delay: 0.3s;
  }

  &__spinner-inner {
    width: unset !important;
    height: unset !important;
    padding: 40px 60px;
    border-radius: 18px;
    background: rgba(0,0,0, 0.1);
  }
}
