.landing-hardfork{
    
}

.landing-block{
    h1, h2, h3, h4, p{
        font-family: 'Roboto', sans-serif;        
    }
    h1{
        text-align: center;        
    }
}

.landing-block:nth-child(2n+1) {
    background-color: #ffffff;
  }
  .landing-block:nth-child(2n+2) {
    background-color: #f6f7f7;
  }