.LabelWrapper {
  width: 100%;
  display: flex;
  margin-bottom: 5px;

  .Label {
    background: lightgrey;
    border-radius: 3px;
    color: white;
    float: left;
    font-size: 8px;
    padding: 3px 10px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}
