.CommentFooter {
    margin-bottom: 20px;

    &__buttons {
        display: flex;
        align-items: center;

        @media (min-width: 890px) and (max-width: 1000px), (max-width: 420px) {
            justify-content: space-between;

            .CommentFooter__button {
                flex-grow: 1;
            }
        }
    }

    &__button-element {
        width: 100%;
    }

    &__button {
        position: relative;
    }

    &__buttons div:first-child {
        margin-right: 8px;
    }
}
