
.LinkOptionsDialog {

  &__body {
    padding: 10px 30px 28px;
  }

  &__label {
    text-transform: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
