.CreateAccount {
  margin: 20px 0;

  &__hello {
    margin-bottom: 10px;
  }

  &__hint {
    user-select: none;
    border-bottom: 1px dashed #0078c4;
    color: #0078c4;
    cursor: default;
    cursor: help;
  }

  &__loader {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    animation: fade-in 0.5s;
  }

  &__check-section {
    user-select: none;
  }

  &__account-name-hint {
    margin-top: 4px;
    font-size: 13px;
    line-height: 1.6em;
    color: gray;
  }

  &__check-info {
    padding: 10px 15px;
    border-radius: 6px;
    line-height: 1.5em;
    text-align: justify;
    color: #333;
    background: #f9f9f9;
    animation: fade-in 0.5s;
  }

  form {
    .callout {
      padding: 0.6rem 1rem;
      border-radius: 6px;

      .LoadingIndicator {
        float: left;
      }
    }
    .button {
      padding: 0.5em 0.75em;
      margin: 0;
    }
    .success {
      color: #268c4c;
    }
    label {
      text-transform: none;
    }
  }
}
