.Landing {
	font-family: Verdana, Geneva, sans-serif;
	.blue 	{ color: #6191cf; } // font-family: ProximaNova;
	.red 	{ color: #f12b24; }
	.Landing__button_big { font-size: 47px; }
	h2 {
		font-weight: bold;
		margin-top: 3rem;
		a {
			color: inherit!important;
		}
	}
	hr {
		margin: 0;
		max-width: 100%;
		background-color: #e0dfdf;
	}
	.button {
		padding: 23px 63px;
		text-transform: none;
		font-weight: bold;
		margin: 0;
	}
	.btn_block {
		.button {
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
		}
	}
	.button-blue { background-color: $mainly-blue; }
	.Landing__supporting-text { color: #a8a8a8; }
	@include breakpoint(small only) {
		h2 { font-size: 2.38095rem; }
		.btn_block {
			display: flex;
			flex-direction: column;
			.button {
				margin-right: 0;
			}
		}
	}
}

/* SECTIONS */
.LandingHeader {
	height: 80px;
	img { height: 36px; }
	.LandingHeader__logo { line-height: 2.5; }
	.LandingHeader__menu {
		margin: 0;
		float: right;
	}
	.LandingHeader__menu__li {
		float: left;
		line-height: 3;
		font-style: 27px;
		font-weight: bold;
		margin: 0 23px;
		display: inline;
		list-style-type: none;
		a { color: black; }
	}
	.LandingHeader__menu__li:last-of-type img { margin-right: 12px; }
}

.CountDowns {
	.CountDowns__headers {
		position: relative;
		background-image: url('../../assets/images/landing/coundowns_background.png');
	    background-repeat: round;
		.CountDowns__slogan {
			color: #6191cf;
			display: block;
			margin-top: 1.5rem;
			margin-bottom: 1.5rem;
		}
		h1 { margin: 90px auto 40px; }
	}
	.CountDowns__blocks {
		p { font-size: 24px; };
	}

	.CountDowns__button {
		margin-bottom: 80px;
		small {
			display: block;
		}
	}
	.CountDowns__links {
		text-align: center;
		margin-bottom: 90px;
		.CountDowns__button_small {
			font-size: 15px;
			color: #535353;
			border: 2px #d1e1f0 solid;
			padding: 7px 10px;
			margin-right: 10px;
			border-radius: 5px;
		}
		.CountDowns__social-links {
			p { display: inline-block; }
			ul { display: inline; }
			li {
				display: inline-block;
				float: right;
				text-align: left;
				list-style-type: none;
			}
		}
	}
	.Documentation__buttons {
		margin-top: 50px;
		.button {
			padding: 20px 30px;
			margin-right: 30px;
			color: $white;
		}
		@include breakpoint(small only) {
			.button {
				margin-right: 0;
				padding: 15px 0;
				width: 100%;
			}
		}
	}

	@include breakpoint(small only) {
		h1 { margin-bottom: 80px; }
		.CountDowns__slogan { font-size: 17px; }
		.CountDown .CountDown__single { margin-right: 10px; }
	}

	@include breakpoint(medium up) {
		.CountDowns__slogan { font-size: 37px; }
	}
}

.Faq {
	.Faq__headers {
		margin-bottom: 80px;
		.Faq__supporting-text {
			color: #a8a8a8;
		}
	}
	.Faq__accordion { margin-bottom: 100px;}
	.Faq__action {
		margin-bottom: 80px;
		.Faq__p {
			font-size: 17px;
			color: #656565;
		}
		.button { margin-right: 0 !important; }
	}
}

.JoinUs {
	.JoinUs__reasons {
		margin-top: 50px;
		margin-bottom: 50px;

		.JoinUs__item {
			margin-bottom: 20px;
		}

		.JoinUs__more {
			margin-top: 30px;
		}
	}
}
