// bold medium regular
// @font-face {
//     font-family: "ProximaNova";
//     // font-style: normal;
//     // font-weight: bold;
//     src: url("../../assets/fonts/Proxima Nova Regular.otf") format("otf")
// }
// TODO change pixels to rems
// TODO add common supporting text styles
.Landing {
	font-family: Verdana, Geneva, sans-serif;
	/* COMMON ELEMENTS */
	.Landing__h2_blue 	{ color: #6191cf; } // font-family: ProximaNova;
	.Landing__h2_red 	{ color: #f12b24; }
	.Landing__button_big { font-size: 47px; }
	h2 {
		font-weight: bold;
		margin-top: 90px;
	}
	hr {
		margin: 0;
		max-width: 100%;
		background-color: #e0dfdf;
	}
	.button {
		padding: 23px 63px;
		text-transform: none;
		font-weight: bold;
	}
	.Landing__supporting-text { color: #d2d2d2; }
}

/* SECTIONS */
.CountDowns {
	.CountDowns__headers {
		background-image: url('../../assets/images/landing/coundowns_background.png');
	    background-repeat: round;
		margin-top: 115px;
		.CountDowns__slogan {
			color: #6191cf;
			font-size: 37px;
			// font-family: 'Myriad Pro';
		}
		.Icon_2x > svg, span.Icon_2x {
			width: 7rem;
			height: 7rem;
		}
		.CountDowns__logo {
			display: block;
			margin: 0 auto;

		}
		h1 {
			margin: 85px auto 120px;
			// font-size: 6.3rem;
		}
	}
	.CountDowns__counters { margin-bottom: 100px; }
	.CountDowns__button {
		margin-bottom: 80px;
		small {
			display: block;
		}
	}
	.CountDowns__links {
		margin-bottom: 90px;
		.CountDowns__button_small {
			font-size: 15px;
			color: #535353;
			border: 2px #d1e1f0 solid;
			padding: 7px 10px;
			margin-right: 10px;
			border-radius: 5px;
		}
		.CountDowns__social-links {
			p { display: inline-block; }
			ul { display: inline; }
			li {
				display: inline-block;
				float: right;
				text-align: left;
				list-style-type: none;
			}
		}
	}
}

.Distribution {
	.Distribution__headers {
		margin-bottom: 95px;
		.Distribution__supporting-text {
			font-size: 27px;
			color: #d2d2d2;
		}
	}
	.Distribution__list {
		margin-top: 20px;
	}
	.Distribution__item {
		text-align: left;
		list-style-type: none;
		font-size: 24px;
		.Distribution__strong {
			font-size: 37px;
		}
		.Distribution__strong_extra-margin { margin-right: 26px; }
		.Distribution__dot {
			display: inline-block;
			margin: 0 15px;
			width: 15px;
			height: 15px;
			border-radius: 15px;
		}
	}
	.Distribution__action {
		margin: 105px auto 85px;
		.button {
			color: #707070;
			background-color: transparent;
			border: 2px solid #c0c0bf;
			border-radius: 4px;
		}
	}
}

.WhatIsGolos {
	padding-top: 145px;
	background-color: #f2f2f2;
	.WhatIsGolos__header {
		h2 {
			margin-top: 0;
		}
		margin-bottom: 80px;
	}
	.WhatIsGolos__video {
		margin-left: auto;
		margin-right: auto;
	}
	a {
		margin-top: 65px;
		margin-bottom: 100px;
	}
}

.JoinUs {
	padding-top: 160px;
	h2 {
		margin-top: 0;
		color: #f12b24;
	}
	.JoinUs__support-text {
		color: #d2d2d2;
		font-size: 27px;
	}
	.JoinUs__reasons {
		margin: 100px auto;
		.JoinUs__item {
			margin-bottom: 65px;
			img {
				margin-right: 40px;
				margin-bottom: 40px;
				float: left;
				width: 40px;
				height: 40px;
			}
			strong {
				font-size: 18px; // 27px
				color: #1a1a1a;
			}
			p {
				color: #717171;
				font-size: 14px;
			}
		}
	}
	.JoinUs__action { margin-bottom: 100px; }
}

.BlockchainRevolution {
	.BlockchainRevolution__header {
		h2 { margin-bottom: 55px; }
		p { margin-bottom: 50px; }
		margin-bottom: 120px;
	}
	.BlockchainRevolution__supporting-text {
		color: #d2d2d2;
	}
	.BlockchainRevolution__table {
		margin-bottom: 60px;
		// overide foundation table styles
		table, thead, tbody { border: none; }
		table thead, table tfoot { background-color: transparent; }
		table tbody tr:nth-child(even) { background-color: transparent; }
		// add our own
		thead {
			margin-bottom: 25px;
			padding-bottom: 25px;
			border-bottom: 1px solid #d1d1d1;
		}
		thead th:first-child { color: #d1d1d1; }
		tr { padding: 0 90px;}
		tr > td, tr > th { padding-left: 90px; }
		tr td:last-child, tr th:last-child { padding-right: 90px; }

	}
	.BlockchainRevolution__action {
		margin-bottom: 115px;
		.button {
			border: 1px solid #c0c0bf;
			color: #707070;
			font-size: 27px;
			background-color: white;
		}
	}
}

.Faq {
	.Faq__headers {
		margin-bottom: 80px;
		.Faq__supporting-text {
			color: #d2d2d2;
			font-size: 27px;
		}
	}
	.Faq__accordion { margin-bottom: 100px;}
	.Faq__action {
		margin-bottom: 80px;
		.Faq__p {
			font-size: 17px;
			color: #656565;
		}
		.button { margin-right: 0; }
	}
}

.Team {
	.Team__header { margin: 90px auto 50px; }
	.Team__members { margin-bottom: 165px; }
	.Team__member {
		margin-top: 50px;
		strong { display: block; }
		li {
			display: inline;
			padding: 0 10px;
			list-style-type: none;
		}
	}
	.Team__cyberfund-logo {
		color: red;
		font-size: 42px;
		display: inline-block;
		transform: translateY(11%);
	}
	.Team__members__image-wrapper {
		width: 180px;
		height: 180px;
		position: relative;
		overflow: hidden;
		border-radius: 50%;
		margin: 0 auto 25px;
		border: 2px solid #d7d7d7;
	}
	.Team__member__img {
		width: 180px;
		position: absolute;
	    left: 50%;
	    top: 50%;
	    transform: translate(-50%, -50%);
		// height: 180px;
	}
	// individual stles
	.Team__member__marina .Team__member__img  {
		width: 300px;
		max-width: 200%;
	}
	.Team__member__alexey .Team__member__img {
		left: 56.5%;
		width: 200px;
		max-width: 115%;
	}
	.Team__member__kostya .Team__member__img  {
		left: 52%;
		width: 190px;
		max-width: 110%;
	}
	.Team__member__vitaly{
		p { margin-bottom: -12px; }

	}
	.Team__member__misha .Team__member__img {
		// first picture
		// left: 54%;
		// width: 190px;
		// max-width: 120%;
		// second picture
		left: 53%;
		width: 320px;
		max-width: 200%;

	}
}

.Documentation {
	// .Landing__supporting-text {
	// 	margin-bottom: 30px;
	// }
	.Documentation__image {
		margin-top: 30px;
		margin-bottom: 65px;
	}
	.Documentation__buttons {
		margin-top: 50px;
		margin-bottom: 120px;
		.alert { margin-right: 30px; }
	}
}

.WhyGolos {
	h2 { color: #6191cf; }
	.Landing__supporting-text { margin-bottom: 65px; }
	.WhyGolos__image { margin: 65px auto; }
	.WhyGolos__reasons {
		margin-top: 65px;
		margin-bottom: 115px;
		strong {
			display: block;
			margin-bottom: 50px;
		}
	}
}

.WhoWeAre {
	.WhoWeAre__headers { margin-bottom: 65px; }
	.WhoWeAre__images {
		img {
			width: 200px;
			height: 200px;
		}
		margin-bottom: 75px;
	}
	.WhoWeAre__texts {
		margin-bottom: 95px;
		span {
			display: block;
			margin-top: 50px;
			margin-bottom: 100px;
		}
	}
}

.Partners {
	.Partners__logos { margin-bottom: 80px; }
	.Partners__law {
		margin-bottom: 65px;
		h3 { margin-bottom: 50px; }
	}
	.Partners__info {
		margin-bottom: 65px;
		h3 { margin-bottom: 40px; }
	}
}

.Press {
	.Press__logos { margin-bottom: 85px; }
	.Press__header { margin-bottom: 100px; }
	.Press__action { margin-bottom: 100px; }
	.Press__action__p {
		color: #505050;
		font-size: 15px;
		font-weight: bold;
	}
}

.LandingFooter {
	padding-top: 90px;
	strong {
		display: block;
		margin-bottom: 25px;
	}
	ul { margin-left: 0; }
	li {
		color: black;
		list-style-type: none;
		a { color: black; }
	}
	.LandingFooter__description {
		margin: 30px auto;
		color: #c5c5c5;
		font-size: 17px;
	}
}
