$buy-color: #009600;
$sell-color: #960000;

.buy-color {
  color: $buy-color !important;
}

input.buy-color {
  border-color: $buy-color !important;
  background-color: smart-scale($buy-color, 95%) !important;
}

input.buy-color:hover {
  color: smart-scale($buy-color, -12%) !important;
  border-color: smart-scale($buy-color, -12%) !important;
  background-color: smart-scale($buy-color, 90%) !important;
}

.sell-color {
  color: $sell-color !important;
}

input.sell-color {
  border-color: $sell-color !important;
  background-color: smart-scale($sell-color, 95%) !important;
}

input.sell-color:hover {
  color: smart-scale($sell-color, -12%) !important;
  border-color: smart-scale($sell-color, -12%) !important;
  background-color: smart-scale($sell-color, 90%) !important;
}

.Market__orderbook {
  tbody > tr {
    cursor: pointer;
  }
}

.Market__orderbook,
.Market__trade-history {
  thead th {
    line-height: 1.1;
    small {
      color: #666;
      font-weight: normal;
    }
  }

  thead th,
  tbody td {
    padding: 0.1rem 0.3rem;
    text-align: right;
  }

  tbody > tr > td {
    font-size: 90%;
  }

  .sell-arrow {
    transform: rotate(180deg);
    fill: $sell-color;
  }

  .buy-arrow {
    fill: $buy-color;
  }
}

.Market__orderform {
  margin-bottom: 1rem;
  line-height: 1;

  .input-group-label {
    min-width: 6rem;
    font-size: 83%;
  }

  input[type='text'] {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 0.1rem 0.5rem 0.1rem 0.25rem;
    text-align: right;
  }

  input.price_warning {
    background: rgba(255, 153, 0, 0.13);
  }
}

.Market {
  &__ticker-pct-up {
    color: #080;
  }

  &__ticker-pct-down {
    color: #c00;
  }
}

table.Market__open-orders {
  margin-bottom: 5rem;
  thead tr,
  tbody tr {
    :nth-child(3),
    :nth-child(4),
    :nth-child(5),
    :nth-child(6) {
      text-align: right;
    }
  }
}

table.Market__trade-history {
  thead tr,
  tbody tr {
    :nth-child(3),
    :nth-child(4),
    :nth-child(5) {
      text-align: right;
    }
  }
}

table.Market__orderbook > tbody > tr.animate,
table.Market__trade-history > tbody > tr.animate {
  background-color: #d1d2d2;
}

tr {
  transition: background-color 750ms linear;
}

ul.pager {
  padding-left: 0;
  margin: 20px 0;
  text-align: center;
  list-style: none;

  > li {
    display: inline;
    cursor: pointer;
    user-select: none;
  }
}

.DepthChart > div {
  height: 250px;
}

