.TagsIndex {
  input {
    margin-bottom: 0.5rem!important;
  }

  table tr {
    th {
      cursor: pointer;
      &:hover .TagsIndex__tagToggle {
        opacity: 1;
      }
    }
    td, th {
      text-align: right;
      &:first-child {
        text-align: left;
        a {
          padding-left: 0.25rem;
          &.action {
            width: 1rem;
            display: inline-block;
            color: rgba(0, 200, 0, 0);
            font-weight: bold;
            &:hover {
              color: red;
            }
          }
        }
      }
    }
    td {
      &:hover {
        a.action {
          color: rgba(0, 200, 0, 0.65);
        }
        a.action:hover {
          color: rgba(0, 200, 0, 1);
        }
      }
      &.isSelected {
        a {
          text-decoration: underline;
          &.action {
            text-decoration: none;
            color: rgba(255, 0, 0, 0.33);
          }
        }
        &:hover {
          a.action {
            color: rgba(255, 0, 0, 0.65);
            &:hover {
              color: rgba(255, 0, 0, 1);
            }
          }
        }
      }
    }
    th {
      &:first-child {
        padding-left: 2rem;
      }
    }
  }
}

.TagsIndex__tagToggle {
  opacity: 0;
  &.isSelected {
    opacity: 1;
  }
}

