ul.Topics {
  max-width: 20rem;
  > li {
    list-style-type: none;
  }
  > li > a.active {
    font-weight: bold;
    overflow: hidden;
  }
  > li > a.action {
    color: rgba(255,0,0,0);
    font-weight: bold;
    position: relative;
    left: -.5rem;
  }
  > li.Topics__selected__remove {

    a.action {
      color: rgba(255,0,0,0.2);
    }
  }
  > li:hover > a.action {
    color: rgba(255,0,0,0.65);
  }
  > li > a.action:hover {
    color: rgba(255,0,0,1);
  }
  .show-more {
    margin-top: .75rem;
    font-size: 0.9rem;
    font-weight: bold;
    color: $dark-gray;
  }
}

select.Topics {
  margin-bottom: 1rem !important;
}

.Topics__title {
  padding-left: .5rem;
  font-weight: bold;
  color: $dark-gray;
}

.Topics__filter {
  min-height: 5.5rem;
  color: $dark-gray;
  margin: 0 -1.25rem 0.5rem -1.25rem;
  padding: 0.25rem 0 0.25rem 1.75rem;
  border-radius: 0.2rem;
  background-color: #f5f5f5;
  div > a.action {
    color: rgba(255,0,0,0.65);
    font-weight: bold;
    position: relative;
    left: -.5rem;
  }
  div > a.action:hover {
    color: rgba(255,0,0,1);
  }
  div > a.active {
    // color: #888 !important;
  }
  div > a.tagname {
    // color: #888;
    text-decoration: underline;
  }
  div {
    margin-left: -0.5rem;
    color: #989898;
  }
  div > span {
    padding-left: 0.5rem;
  }
  a.expand {
    font-weight: bold;
    font-size: 75%;
  }
}
.filter_fixed {
  height: 5.5rem;
  overflow-y: hidden
}
.filter_expanded {
  height: auto;
}
.Topics__selected__add {}
.Topics__selected__remove {
  a.tagname {
    text-decoration: underline;
  }
}
