// .Welcome__banner {

//   position: relative;

//   .Welcome__welcome {
//     position: absolute;
//     width: 100%;
//     bottom: 70%;
//     color: white;
//     font-size: 160%;
//     padding-left: 38%;
//   }

//   .Welcome__caption {
//     position: absolute;
//     width: 100%;
//     top: 65%;
//     color: white;
//     font-size: 115%;
//     padding-left: 44%;
//     padding-right: 2%;
//   }
// }

// .HelpContent {

//   height: inherit;

//   p {
//     position: relative;
//   }

//   .anchor {

//     position: absolute;
//     top: -70px;

//     &:first-of-type {
//       top: -130px;
//     }

//   }
// }

.Welcome__hero {
  display: flex;
  padding: 20px 0;
  align-items: center;
  min-height: 550px;
  background-color: #3f46ad;
  color: #ffffff;
  

  & > .row {
    min-height: 550px;
  }

  .Welcome__greeting {
    font-family: 'Roboto Slab';
    font-size: 65px;
    line-height: 1.3;
    text-align: left;
  }

  .Welcome__congratulations {
    font-size: 25px;
    line-height: 1;
    text-align: left;
    margin-top: 20px;
  }

    /* Small only */
  @media screen and (max-width: 39.9375em) {
    min-height: 450px;

    & > .row {
      min-height: 450px;
    }

    .Welcome__greeting {
      font-size: 25px;
    }

    .Welcome__congratulations {
      font-size: 16px;
      margin-top: 10px;
    }
  }
  /* Medium only */
  @media screen and (min-width: 40em) and (max-width: 63.9375em) {
  }
  /* Large and above */
  @media screen and (min-width: 64.063em) {
  }
}

.Welcome__about {
  padding: 20px 0;

  & > .row {
    min-height: 500px;
  }

  .Welcome__about-header {
    font-family: 'Roboto Slab';
    font-size: 36px;
    line-height: 1.06;
    letter-spacing: 0.6px;
    color: #333333;
    margin-bottom: 22px;
  }
  .Welcome__about-subheader {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: 1.5;
    color: #9fa3a7;
    margin-bottom: 55px;
  }

  .image {
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 48px;

    @include breakpoint(medium down) {
      justify-content: center;
    }

  }

  .description {
    font-family: 'Roboto Slab';
    font-size: 18px;
    line-height: 1.42;
    color: #212121;

    @include breakpoint(medium down) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    .stroke{
      position: relative;
      display: inline-block;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        top: 50%;
        opacity: 0.75;
        border: 1px solid  #fd3a28;
      }
    }
  }
}

.Welcome__initial {
  padding: 20px 0;
  background-color: #f8f8f8;

  & > .row {
    height: 920px;
  }

  .Welcome__initial-header {
    font-family: 'Roboto Slab';
    font-size: 36px;
    line-height: 1.06;
    letter-spacing: 0.6px;
    color: #333333;
    margin-bottom: 40px;
  }

  .Welcome__initial-subheader {
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1.4px;
    color: #333333;
    text-transform: uppercase;
  }

  .Welcome__initial-top-row {
    margin-bottom: 30px;
  }

  .initial-tags {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;

    .initial-tag {
      margin-bottom: 15px;
      margin-right: 10px;
    }

    @include breakpoint(medium down) {
      flex-direction: row;
    }
  }

  .initial-tag {
    padding: 9px 17px;
    border-radius: 6px;
    background-color: #eeefff;
    border: 1px solid #848ade;
    font-size: 15px;
    line-height: 1;
    color: #3f46ad;
    cursor: pointer;
    transition: all 0.5s;

    &:hover,
    &.active {
      background-color: #ffffff;
    }
  }

  .LoadingIndicator.circle > div {
    width: 90px;
    height: 90px;
  }

  @include breakpoint(large down) {
    .WelcomeCardPost {
      margin-bottom: 10px;
    }
  }
}

.Welcome__differences {
  padding: 20px 0;

  & > .row {
    min-height: 1200px;
  }

  .Welcome__differences-header {
    font-family: 'Roboto Slab';
    font-size: 36px;
    line-height: 1.06;
    letter-spacing: 0.6px;
    color: #333333;
    margin-bottom: 60px;
  }

  .block {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    padding: 40px 60px;
    min-height: 430px;
    margin: 0.9375rem 0;

    .image {
      height: 70px;
    }

    .header {
      font-family: 'Roboto Slab';
      font-size: 22px;
      line-height: 1.42;
      color: #212121;
      margin: 20px 0;
    }

    .description {
      font-family: 'Open Sans';
      font-size: 14px;
      line-height: 1.57;
      color: #9fa3a7;
    }

    .button {
      margin: 30px 0 0;
    }
  }
}



.Welcome__reviews {
  padding: 30px 0;
  background-color: #3f46ad;

  & > .row {
    min-height: 597px;
  }

  .Welcome__reviews-header {
    font-family: 'Roboto Slab';
    font-size: 33px;
    font-weight: bold;
    line-height: 1.33;
    color: #ffffff;
    margin: 0 0 40px 63px;
  }
}

.Welcome__mobile {
  padding: 20px 0;
  background-color: #f8f8f8;

  & > .row {
    min-height: 606px;
  }

  .Welcome__mobile-header {
    font-family: 'Roboto Slab';
    font-size: 34px;
    line-height: 1.37;
    letter-spacing: 0.6px;
    color: #333333;
  }

  .Welcome__mobile-subheader {
    font-family: 'Open Sans';
    font-size: 17px;
    line-height: 1.75;
    color: #9fa3a7;
    margin-top: 28px;
  }

  .Welcome__mobile-links {
    .mobile-banners-wrapper { 
      margin: 30px 0 0 -10px;

      img {
        max-height: 70px;
      }
    }
  }
}