.InputWrapper {
  border: 1px solid $color-light;
  padding: 8px 12px;
  position: relative;
  background: white;

  .Label {
    color: $color-light;
    font-family: 'Andada';
    font-size: 14px;
    position: absolute;
    user-select: none;
  }

  input {
    border: none;
    color: $color-input;
    font-family: 'Andada';
    font-size: 18px;
    line-height: 1;
    outline: none;
    padding: 25px 0 8px;
    width: 100%;

    &::placeholder {
      color: $color-grey;
    }
  }

  .error {
    margin-bottom: 0;
    font-size: 14px;
  }
}
