.InputWrapper {
  border: 1px solid $color-light;
  padding: 8px 12px;
  position: relative;
  background: white;

  .Label {
    color: $color-light;
    font-family: 'Andada';
    font-size: 14px;
    position: absolute;
    user-select: none;
  }

  input,
  select {
    border: none;
    box-shadow: none;
    box-sizing: content-box;
    color: $color-input;
    font-family: 'Andada';
    font-size: 18px;
    height: auto;
    outline: none;
    line-height: inherit;
    padding: 20px 0 0;
    width: 100%;

    &::placeholder {
      color: $color-grey;
    }
  }

  .error {
    margin-bottom: 0;
    font-size: 14px;
  }

  .secondary {
    border-top: 1px solid #e6e6e6;
    padding-top: 5px;
  }
}
