.Author__dropdown {
  width: 290px;
  min-height: 108px;

  .Userpic {
    margin-right: 1rem;
    float: left;
  }

  .Author__name {
    text-decoration: none;
    display: block;
    font-size: 110%;
    color: #444;
    font-weight: 600;
    line-height: 1;
  }

  .Author__username {
    text-decoration: none;
    font-size: 90%;
    color: #666;
  }

  .Author__bio {
    clear: both;
    font-size: 90%;
    padding-top: 5px;
  }
}
