.golos-btn {
  border-radius: 4px;
  color: #333333;
  font-family: Roboto;
  font-size: 0.8rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 1.4px;
  line-height: 1.64;
  padding: 10px 20px;
  pointer-events: all;
  text-align: center;
  border: solid 1px #e1e1e1;
  opacity: 1;
  transition: all .3s;
  cursor: pointer;
  &.btn-primary {
    background-color: #0078c4;
    border-color: #0078c4;
    color: $white;
    &:hover {
      background-color: #016aad;
      opacity: 1;
    }
  }
  &.btn-secondary {
    border-color: solid 1px #0078c4;
    color: #0078c4;
    background-color: $white;
  }
  &.btn-third {
    border-color: #a9cde3;
    color: #a9cde3;
  }
  &.btn-round {
    border-radius: 100px;
  }
  &.box-shadow {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
  }
  &:hover {
    opacity: .8;
  }
}
