.GeneratedPasswordInput {
  &__generated_password {
    text-transform: none;
    display: block;
    padding: 0.2rem 0.5rem;
    color: rgb(199, 37, 78);
    font-size: 1rem;
    background: $white;
    word-break: break-all;
    text-align: center;
  }

  &__field {
    margin-top: 1rem;

    .disabled {
      background-color: #e6e6e6;
    }
  }

  &__checkboxes {
    margin-top: 5px;
  }

  &__backup_text {
    font-weight: bold;
    line-height: 1.5em;
  }

  &__confirm {
    margin-top: 15px;
    font-size: 0.875rem;
  }

  &__rule {
    color: #555;
  }

  &__rules-button {
    background-color: $gray95;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    font-size: 0.8rem;
    color: $dark-gray;
  }
}
