.GeneratedPasswordInput {

}

.GeneratedPasswordInput__generated_password {
  text-transform: none;
  display: block;
  padding: 0.2rem 0.5rem;
  color: rgb(199, 37, 78);
  font-size: 1rem;
  background: #fff;
  word-break: break-all;
  text-align: center;
}

.GeneratedPasswordInput__field {
  margin-top: 1rem;
}

.GeneratedPasswordInput__checkboxes {
  margin-top: 1.5rem;
}

.GeneratedPasswordInput__backup_text {
  text-align: center;
  font-weight: bold;
}
