.Icon {
  display: inline-block;
  vertical-align: middle;
  user-select: none;

  width: 1.12rem;
  height: 1.12rem;

  & > svg {
    width: 1.12rem;
    height: 1.12rem;
    vertical-align: top;
  }

  &.dropdown-arrow {
    fill: $dark-gray;
  }
}

.Icon_0_75x > svg, span.Icon_0_75x {
  width: 0.75rem;
  height: 0.75rem;
}

.Icon_0_95x > svg, span.Icon_0_95x {
  width: 0.95rem;
  height: 0.95rem;
}

.Icon_1_25x > svg, span.Icon_1_25x {
  width: 1.25rem;
  height: 1.25rem;
}

.Icon_1_5x > svg, span.Icon_1_5x {
  width: 1.5rem;
  height: 1.5rem;
}

.Icon_2x > svg, span.Icon_2x {
  width: 2rem;
  height: 2rem;
}

.Icon_3x > svg, span.Icon_3x {
  width: 3rem;
  height: 3rem;
}

.Icon_4x > svg, span.Icon_4x {
  width: 4.60rem;
  height: 4.60rem;
}

.Icon_5x > svg, span.Icon_5x {
  width: 5.75rem;
  height: 5.75rem;
  margin: 24px 0 24px 0;
}

.Icon_10x > svg, span.Icon_10x {
  width: 10rem;
  height: 10rem;
  margin: 24px 0 24px 0;
}

