.ReplyEditor {
  max-width: 50rem;
  margin-bottom: 0.5rem;
  .rte {
    clear: right;
  }

  .vframe {
    display: block;
    .public-DraftEditor-content {
      height: 20em;
      resize: vertical;
    }
  }
}

.ReplyEditor .Markdown {
  border: 1px solid $light-gray;
  padding: 0 1rem;
}

.ReplyEditor__body {
  margin-top: 1rem;
  border-radius: 4px;
  > div {
    border: none;
  }
}

.ReplyEditor__body.rte {
  border: 1px solid $medium-gray;
}

.ReplyEditor__options {
  font-size: 85%;
  select {
    font-size: 100%;
    width: 10rem;
    height: auto;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
  }
  label {
    font-size: 100%;
    text-transform: none;
  }
}

.medium-editor-element {
    background-color: inherit !important;
}
.medium-editor-toolbar-actions button {
    margin-right: 0 !important;
}
// .medium-insert-images.medium-insert-images-grid.small-grid figure {
//     width: 10%;
// }
// @media (max-width: 750px) {
//     .medium-insert-images.medium-insert-images-grid.small-grid figure {
//         width: 20%;
//     }
// }
// @media (max-width: 450px) {
//     .medium-insert-images.medium-insert-images-grid.small-grid figure {
//         width: 25%;
//     }
// }
// .editable {
//     outline: none;
//     min-height: 38px;
//     margin: 0 0 20px 0;
//     padding: 0 0 20px 0;
// }

.RichTextEditor__root___33zoV button {
  margin-right: 0 !important;
}
