.ReplyEditor {
  max-width: 54rem;
  margin-bottom: 0.5rem;
}

.PostFull .ReplyEditor__body {
  margin: 1rem 0 0;
}

.ReplyEditor form {
  max-width: 52rem;
}

.ReplyEditor .Preview .Markdown {
  border: 1px solid $light-gray;
  padding: 0 1rem;
}

.ReplyEditor__body {
  margin-top: 1rem;
}

.ReplyEditor__options {
  font-size: 85%;
  select {
    font-size: 100%;
    width: 10rem;
    height: auto;
    padding: 0.25rem 0.5rem;
    margin-left: 0.25rem;
  }
  label {
    font-size: 100%;
    text-transform: none;
  }
}
