.Reputation {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  padding: 0 3px;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #f8f8f8;
  border-radius: 50%;
  border: 1px solid #dadada;
  color: $dark-gray;
}
