.ScrollButton {
  opacity: .3;
  background-color: $medium-gray;
  width: 4rem;
  height: 4rem;
  position: fixed;
  bottom: 5px;
  right: 15px;
  border-radius: 50%;
  border: none;

  &:hover {
    opacity: .9;
  }

  &:focus {
    outline: none;
  }

  >span {
    padding-left: .5rem;
    padding-top: .5rem;
    
    >svg {
      fill: $white;
    }
  }
}
