.TagList {
  ul.VerticalMenu {
    a {
      padding: 0 0.4rem;
      line-height: 1.5;
      color: inherit;
    }
  }
}

.TagList__horizontal {
  margin-bottom: 1rem;
  a {
    margin: 0 0.2rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    background: #efefef;
    color: #8a8a8a;

    &:hover {
      background: #e6e6e6;
    }
  }
}
