.Voting {
  white-space: nowrap !important;
  span {
    white-space: nowrap !important;
  }
}

.Voting__button {
  path {
    fill: $dark-gray;
  }
  circle {
    stroke: $dark-gray;
  }
  > a:hover path {
    fill: $black;
  }
}

.Voting__button-up {
  .Icon {
    top: 4px;
  }
  .Icon {
    margin-left: 0;
  }
  > a {
    padding-right: 0.5rem;
  }
  > a:hover {
    path {
      fill: #333;
    }
    circle {
      fill: #fff;
      stroke: #333;
    }
  }
}

.Voting__button-up.votingUp {
  padding-right: 0.5rem;
  svg {
    border: 1px solid #4BA2F2;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    animation: loading 500ms infinite linear;
  }
}

.Voting__button-down.votingDown svg {
  border: 1px solid #a00;
  border-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
  animation: loading 500ms infinite linear;
}

.Voting__button-down {
  .Voting__button-downvotes {
    color: #aaa;
    font-size: 80%;
    vertical-align: 15%;
    padding-right: 0.1rem;
  }

  a:hover path {
    fill: #a00;
  }
}

.Voting__button--upvoted path {
  fill: #fff !important;
}

.Voting__button--upvoted circle {
  fill: #4BA2F2;
  stroke: #4BA2F2;
}

.Voting__button--upvoted a:hover path {
  fill: #fff !important;
}

.Voting__button--upvoted a:hover circle {
  fill: #258DEB;
  stroke: #258DEB;
}

.Voting__button--downvoted path {
  fill: #a00;
}

.Voting .DropdownMenu ul {
  width: 240px;

  li > a {
    padding: 0 0.5rem;
    line-height: 1.25;
  }

  li > span {
    padding: 0 0.5rem;
    line-height: 1.25;
  }
}

.Voting__inner {
  border-right: 1px solid $medium-gray;
  padding-right: 0.5rem;
  margin-right: 1rem;
}
