.CommunitiesIndex {
    max-width: 800px;
    table {margin-top: 1em;}
    table th {text-align: left; font-weight: normal}
    table th a {font-weight: 400; font-size: 1.3em;}
    table td {vertical-align: middle; color: #666; text-align: center;}
    table small {color: #999; display: block;}
    table .button {margin: 0}
}
