.CommunitiesIndex {
    max-width: 800px;
    margin: 0 auto;
    th {text-align: left; font-weight: normal}
    th a {font-weight: 400; font-size: 1.3em;}
    th small {color: #999;}
    td {vertical-align: top; color: #666;}
}
