.CreateAccount {
  max-width: 36rem;
  margin: 1rem auto;

  &__title {
    color: $color-blue-black;
    font-weight: bold;  
    padding-top: 8px;
    @include themify($themes) {
      color: themed('textColorAccent');  
    }       
  }
  .progress {
    height: 8px;
    background-color: #eee;
  }
  .progress .progress-meter {
    background-color: $color-teal;
    @include themify($themes) {
      background-color: themed('colorAccent');  
    }   
  }
  &__btn {
    @extend .e-btn;
    margin-top: 8px;
    text-transform: capitalize;
  }
  input[type=submit].disabled, input[type=submit].disabled:focus {  
    opacity: 0.2;
  }
  &__step {
    padding-top: 1em;
  }
  .btn-continue {
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s all ease-in-out;
    text-transform: capitalize;
    border-radius: 0;
    font-size: 18px;       
    background-color: $color-blue-black;
    color: $color-white;
    border: none;
    box-shadow: 0px 0px 0px 0 rgba(0,0,0,0), 5px 5px 0 0 $color-teal;
    padding: 18px 22px;
    cursor: pointer;
    &:hover, &:focus {
      background-color: $color-teal;
      color: $color-white;
      box-shadow: 0px 0px 0px 0 rgba(0,0,0,0.1), 7px 7px 0 0 $color-blue-black;
    }
  } 
}


.CreateAccount__rules {
  opacity: 0.5;
  p {
    text-align: center;
  }
}

.CreateAccount__rules-button {
  background-color: #f2f2f2;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  font-size: 0.8rem;
  color: $dark-gray;
}



  