.Post{
  position: relative;
  .post-content{
    display: flex;
    margin: 0 auto;
    max-width: 1600px;
    .c-sidebr-ads{
      display: none;

      @include MQ(M) {
        display: block;
        width: 240px;
        min-width: 240px;
        max-width: 240px;
        margin-left: 1em;
      }
    }
    .c-sidebr-ads:has(div.App__navigation) {
      display: block;
      flex: none;
      width: auto;

      > div {
        display: none;
  
        @include MQ(M) {
          display: block;
        }
      }
      
      > div.App__navigation {
        display: block;
      }
    }
    .c-sidebr-market{
      display: none;
      max-width: 320px;
      width: 320px;
      min-width: 320px;
      @include MQ(L) {
        display: block;
        margin-right: 1em;
      }
    }
    .post-main {
      width: 100%;
    }
  }
  
}
.Post__comments_sort_order {
  margin: 0.5rem 0;
  @include themify($themes) {
    color: themed('textColorSecondary');  
  }  
  font-size: 94%;
  svg polygon {
    fill: $dark-gray;
    @include themify($themes) {
        fill: themed('textColorSecondary');  
    } 
  }
  > span {
    font-weight: bold;
  }
}

.Post__promo {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 0;
  @include themify($themes) {
    border-bottom: themed('border');  
  } 
  .button { 
      margin-top: 1rem;
      text-transform: none;
  }
}

.Post_comments__content {
  max-width: 54rem;
  margin: 0 auto 3.5rem;
  font-size: 92%;
}

.comment-button {
  background-color: #06d6a9;
  padding: 15px 32px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

.Post_comments__count{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
}