.Post__comments_sort_order {
  margin: 0;
  @include font-size(16px);
  @include themify($themes) {
    color: themed('textColorSecondary');  
  }  
  svg polygon {
    fill: $dark-gray;
    @include themify($themes) {
        fill: themed('textColorSecondary');  
    } 
  }
  > span {
    font-weight: bold;
  }
}

.Post__promo {
  text-align: center;
  font-style: italic;
  font-weight: bold;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem 0;
  @include themify($themes) {
    border-bottom: themed('border');  
  } 
  .button { 
      margin-top: 1rem;
      text-transform: none;
  }
}

.Post_comments {
  &__content {
    max-width: 46rem;
    padding: 0 0.5rem;
    margin: 0rem auto 3.5rem;
    @include font-size(12px);
    @include MQ(M) {
      @include font-size(14px);
    }
    .Markdown p {
      line-height: 140%;
    }
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-bottom: 1rem;
    @include themify($themes) {
      border-bottom: themed('border');  
    } 
  }
  &__heading {
    margin-bottom: 0;
    font-weight: bold;
    @include font-size(18px);
    @include MQ(M) {
      @include font-size(24px);
    }
  }
}

 .Comment.root {
  padding-top: 0em;
  margin-bottom: 1.5rem;
  @include themify($themes) {
    border-bottom: themed('borderLight');
  }
} 
