.TagsIndex {
  input {
    margin-bottom: 0.5rem!important;
  }

  table tr {
    th a {
      position: relative;
    }
    th a:hover::after {
      content: '\2193';
      position: absolute;
      left: 100%;
    }

    td, th {
      text-align: right;
      &:first-child {text-align: left;}
    }
  }
}

