ul.Topics {
  max-width: 10rem;
  > li {
    list-style-type: none;
  }
  > li > a.active {
    font-weight: bold;
    overflow: hidden;
  }
  .show-more {
    font-size: 0.9rem;
    font-weight: bold;
    color: $dark-gray;
  }
}

.react-select {
    border-bottom: 1px solid #999;
    min-width: 150px;
    .Select-control {
        border: none;
    }
}

.Topics__title {
  font-weight: bold;
  color: $dark-gray;
}

.Topics__filter {
  margin: 0.5rem 0;
  input {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    border-color: $light-gray;
  }
}
