.nav__block-list {
    margin: 0px;
    display: flex;
}

li.nav__block-list-item {
    margin: 0 10px;
    list-style: none;
    padding: 1.125rem 0.25rem;
    transition: 0.3s all ease-in-out;
    font-size: 1.125rem;
    a {
        @extend .link;
        @extend .link--primary;
        font-family: helvetica, sans-serif;
        padding: 1.375rem 0;
    }
    &--active {
        box-shadow: inset 0px -5px 0px -2px $color-teal;
        a {
          @include themify($themes) {
              color: themed('textColorPrimary');
          }            
        }
    }
    &:hover, &:focus {
        box-shadow: inset 0px -5px 0px -2px $color-teal;
        a {
          @include themify($themes) {
              color: themed('textColorAccent');
          }            
        }        
    }
}