@import './Components/style';

.NodeWrapper {
  overflow: hidden;

  .NodeInfo {
    box-shadow: 0 0 50px $color-light-grey;
    max-width: 920px;
    margin: 0 auto;
    min-height: calc(100vh - 68px);
    overflow-y: hidden;
    position: relative;
    padding: 15px 120px;

    .Sticky {
      left: 50px;
      top: 35%;

      .SideMenu {
        width: 60px;

        .Vote {
          display: none;
        }
      }
    }
    @media all and (max-width: 700px) {
      padding-left: 80px;
      padding-right: 50px;

      .Sticky {
        left: 10px;
        bottom: 100px;
      }
    }
  }

  .Panel {
    color: $color-dark;
    overflow: auto;

    > div {
      .HomeWrapper .Content {
        box-shadow: unset;
        background: white;

        .Results {
          padding: 0;

          .SearchItemWrapper {
            margin-left: 45px;

            .Votes {
              left: -45px;
              width: 45px;
            }

            .LabelWrapper .Label {
              font-size: 10px;
            }

            .Info > div.Actions > svg {
              margin-left: 15px;
              height: 18px;
              width: 18px;
            }

            .Info .Extra {
              min-width: 140px;
            }
          }
        }
      }

      > .NodeHeader {
        align-items: center;
        display: flex;
        justify-content: space-between;

        border-bottom: 1px solid #eee;
        margin-bottom: 15px;
        padding-bottom: 10px;

        > div {
          font-size: 19px;
        }
      }

      .Main {
        color: $color-dark;
      }

      div > .Highlight {
        align-items: center;

        color: #b3b3b3;
        font-style: italic;
        line-height: 20px;
        margin-top: 15px;
        margin-bottom: 30px;

        .Type {
          font-style: normal;
          font-weight: bold;
          text-align: center;
          width: 60px;

          color: $observation;

          &.Q {
            color: $question;
          }

          &.H {
            color: $hypothesis;
          }
        }

        span {
          color: #4bbefd;
        }
      }

      .Sections {
        color: $color-dark;

        section {
          border-top: 1px solid $color-light;
          margin-bottom: 20px;
          padding-top: 10px;

          &:first-child {
            border-top: 0;
            padding-top: 0;
          }
        }

        .Wrap {
          display: flex;
        }

        .User {
          display: flex;
          align-items: center;

          img {
            float: left;
            height: 40px;
            margin-right: 15px;
          }

          > div {
            .UserName {
              color: $color-input;
              font-size: 16px;
              line-height: 20px;
            }

            .UserTitle {
              color: $color-grey;
              font-size: 12px;
            }
          }
        }

        .NodeHeader {
          display: flex;
          justify-content: space-between;

          .Extra {
            color: #999999;
            font-size: 12px;
            font-style: italic;
            text-align: right;

            .Date {
              font-size: 14px;
            }
          }
          @media all and (max-width: 700px) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            .Extra {
              margin-left: auto;
              margin-top: 10px;
            }
          }
        }

        .Title {
          margin-top: 10px;
        }

        .Content {
          color: $color-grey;
          font-size: 14px;
          margin-top: 10px;
        }
      }
    }
  }

  .UserInfoWrapper {
    .NodeHeader {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin-bottom: 17px;
      padding-top: 8px;

      .Wrap {
        display: flex;
      }

      .TypeWrapper {
        margin-right: 10px;

        .Type {
          color: $default-green;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 5px;
          text-align: center;
        }

        .Type {
          color: $observation;

          &.Q {
            color: $question;
          }

          &.H {
            color: $hypothesis;
          }
        }
      }

      .User {
        display: flex;
        align-items: center;

        img {
          float: left;
          height: 50px;
          margin-right: 15px;
        }

        > div {
          .UserName {
            color: $color-input;
            font-size: 16px;
            line-height: 20px;
          }

          .UserTitle {
            color: $color-grey;
            font-size: 12px;
          }
        }
      }

      .Extra {
        color: #999999;
        font-size: 12px;
        font-style: italic;
        text-align: right;

        .Date {
          font-size: 14px;
        }
      }
      @media all and (max-width: 700px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .Extra {
          margin-left: auto;
          margin-top: 10px;
        }
      }
    }

    .Title {
      color: $color-black;
      font-size: 28px;
      line-height: 1.3;
      margin-bottom: 5px;
      position: relative;

      .Votes {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        position: absolute;

        left: -70px;
        top: 0;

        height: 100%;
        min-height: 80px;
        width: 60px;

        font-family: Futura;
        font-size: 15px;
        font-weight: 400;

        > div {
          color: #cacaca;
          cursor: pointer;
          margin: 3px 0;
          position: relative;

          svg {
            width: 18px;
            height: 18px;
          }

          &:hover {
            opacity: 0.7;
          }

          &.Voted {
            color: #47bf78;

            &.Down {
              color: #e5453f;
            }

            &.Normal {
              color: #cacaca;
            }
          }
        }
      }
    }

    .CitesWrapper {
      color: $color-input;
      display: inline-flex;
      font-size: 16px;
      width: 100%;

      .Cites {
        span {
          color: $observation;
          margin-left: 15px;
          cursor: pointer;
        }

        &.Q span {
          color: $question;
        }

        &.H span {
          color: $hypothesis;
        }
      }

      .CitedBy {
        display: flex;
        cursor: pointer;

        > div {
          margin-left: 15px;

          span {
            color: $observation;

            &.Q {
              color: $question;
            }

            &.H {
              color: $hypothesis;
            }
          }
        }
      }

      > div {
        margin-right: 3%;
      }

      .Review > span {
        color: #53d3ff;
        cursor: pointer;
        margin-left: 15px;
      }
      @media all and (max-width: 700px) {
        flex-direction: column;
        margin: 15px 0;

        div + div {
          margin-top: 8px;
        }
      }
    }
  }

  .Introduction {
    color: #797979;
    font-style: italic;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 20px;

    a,
    span {
      color: #d6d6d6;
      cursor: pointer;
      font-family: Andada;
      font-size: 16px;
      font-style: normal;
      user-select: none;

      &.TitleFrom {
        color: $observation;
        letter-spacing: -1.2px;
        margin-left: 30px;
        position: relative;

        &.None {
          color: $review;

          &:before {
            background: $review;
          }

          &:after {
            border-color: $review;
          }
        }

        &.Q {
          color: $question;

          &:before {
            background: $question;
          }

          &:after {
            border-color: $question;
          }
        }

        &.H {
          color: $hypothesis;

          &:before {
            background: $hypothesis;
          }

          &:after {
            border-color: $hypothesis;
          }
        }

        &:before {
          background: $observation;
          border: 2px solid white;
          border-radius: 50%;
          box-sizing: border-box;
          content: '';
          position: absolute;

          width: 14px;
          height: 14px;
          left: -20px;
          top: 4px;
        }

        &:after {
          border: 2px solid $observation;
          border-radius: 50%;
          content: '';
          position: absolute;

          width: 18px;
          height: 18px;
          left: -22px;
          top: 2px;
        }
      }
    }

    .Content {
      color: $color-grey;
      font-size: 16px;
      font-style: normal;
      line-height: 1.3em;
      margin-top: 10px;

      span {
        color: #53d3ff;
      }

      img {
        width: 33%;
      }
    }
  }
}

.ui.wide.left.sidebar {
  width: 50%;
}

.ui.wide.right.sidebar {
  width: 50%;
}

.Comments {
  margin-top: 15px;
  padding: 10px 0 10px 30px;
  border-left: 1px solid #f2f2f2;

  .Comment {
    margin-bottom: 0;
  }
}
