.Footer {
  border-top: 1px solid $light-gray;

	strong {
		display: block;
    margin-bottom: 25px;
    color: #333333;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1.4px;
    line-height: 21px;
    text-transform: uppercase;
	}
	ul { margin-left: 0; }
	li {
		color: black;
    list-style-type: none;
		a { 
      color: #333333;      
      font-size: 18px;
      font-weight: 300;
      line-height: 30px;
    }
  }
  
  li.big {
		a {
      color: #333333;
      font-size: 56px;
      line-height: 66px;
      font-weight: 400;
    }
  }

	.social-icons {
		a {
			.Icon {
				margin-right: 20px;
				fill: #333;
			}

			&:hover {
				color: #3F46AD;

				.Icon {
					fill: #3F46AD;
				}
			}
		}
  }

  .Footer__menus {
    padding: 50px 0;
	}
	.Footer__description {
    color: #333333;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
		padding: 30px 0;
    word-break: break-all;
    border-top: 1px solid $light-gray;
	}
	@include breakpoint(small only) {
		.Footer__menus {
			strong { margin: 25px auto;}
			strong, ul { text-align: center; }
		}
		.Footer__description {
			strong { text-align: center; }
			li { text-align: center; }
			span {
				display: block;
				text-align: center;
			}
		}
	}
	@include breakpoint(medium up) {
		.Footer__description {
			span { display: inline; }
			.left { text-align: left; }
			.right { float: right; }
		}
	}
}