.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;

  h3 {
    padding-left: 1rem;
    margin-bottom: 0;
  }
  .menu {
    background-color: $white;
    padding-left: 0;
    align-items: center;

    a {
      padding: 0;
    }

    .button {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 170px;
      padding: 0.7rem 1rem;
      color: #fff;
      letter-spacing: 1px;
    }
  }
  ul.menu > li.toggle-menu > a {
    padding-right: 0;
  }
  .menu-icon {
    margin: 0.2rem 0;
  }
}

.Header__top {
  background-color: $white;
  border-bottom: 1px solid $light-gray;

  .row {
    height: 5rem;
  }

  ul > li.delim {
    height: 44px;
    width: 1px;
    border-left: 1px solid $light-gray;
  }
  ul > li {
    &.submit-story > a {
      padding: 0.53rem 1rem !important;
    }
    &.submit-story-pencil > a {
      height: 50px;
      width: 50px;
      min-width: 50px !important;

      .Icon {
        margin-right: 0 !important;
      }
    }

    > a {
      font-size: 1.1rem;

      .Icon {
        fill: #333;
      }

      &:hover {
        color: #3F46AD;

        .Icon {
          fill: #3F46AD;

          #search {
            fill: #3F46AD;
          }
        }
      }

      &.button {
        .Icon {
          fill: #fff;
          margin-right: 5px;
        }

        &:hover {
          .Icon {
            fill: #fff;
          }
        }
      }

      &.number {
        display: flex;
        align-items: center;
        color: #757575;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1.8px;
        line-height: 23px;

        span {
          margin-right: 13px;
        }

        &:hover {
          color: #3F46AD;
        }
      }

      @include breakpoint(small only) {
        font-size: 1em;
      }
    }
  }
  ul > li > span {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 0.7rem 0.7rem;
    display: flex;
    text-transform: lowercase;
    @include breakpoint(small only) {
      font-size: 1em;
    }
  }

  @media screen and (max-width: 39.9375em) {
      .shrink {
          padding: .3rem 1rem 0 1rem;
      }
  }
}

ul > li.Header__top-logo > a {
  padding: 0;
  transition: none;
}

.Header__sub-nav {
  position: relative;
  padding: 0;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  transition: all .3s;
  z-index: -1;
  height: 2.5rem;

  li {
    line-height: 1rem;
    padding: 1.2rem 0 1.2rem 0;
    margin: 0 0 0 2rem;
    }
  // No margin adjustments for first child element in menu items
  li:first-child {
    margin: 0 0 0 0;
  }

  li > a {
    color: $dark-gray;
    background-color: $white;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    line-height: 0;
    padding: 0;

    .caret-down {
      margin-left: 0.24rem;
    }
  }
  .caret-down {
    fill: $dark-gray;
  }
  a.active {
    color: $black;
  }
}


.Header__sub-nav.hidden {
  margin-top: -42px;
}


.Header__topic {
  background-color: $white;
  line-height: 1.5rem;
  padding: 0.7rem 0.7rem;
  text-transform: uppercase;
}

.Header__top-steemit {
  margin-left: 10px;

  a {
    position: relative;
    text-transform: uppercase;
    color: #2572ba;
    font-family: "Roboto Slab";
    font-size: 36px !important;
    font-weight: bold;

    &:hover {
      color: #2572ba !important;
    }
  }

  .beta {
    display: block;
    font-size: 0.7rem;
    color: #2578be;
    text-transform: none;
  }
}

.Header__sort-order-menu {
  margin-left: 10px;

  .VerticalMenu {
    left: 0;
  }
}

.logo {
  padding-top: 10px!important;
  padding-bottom: 1px!important;
  padding-right: 5px!important;
}

.ConnectionError {
  margin-right: 4rem;
  color: #ec5840;
}
