.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  h3 {
    padding-left: 1rem;
    margin-bottom: 0;
  }
  .menu {
    background-color: $white;
    padding-left: 0;
    .hamburger {
      @include hamburger();
      position: relative;
      top: 2px;
    }
  }
  ul.menu > li.toggle-menu > a {
    padding-right: 0;
  }
  .menu-icon {
    margin: 0.2rem 0;
  }
  svg > path {
    fill: $dark-gray;
  }
  //.submit-story {
  //  margin-right: 1rem;
  //}
}

.Header__top {
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  ul > li.Header__top-logo {
    padding: .35rem 0 .35rem 0;
  }
  ul > li.delim {
    color: $medium-gray;
  }
  ul > li > a {
    font-size: 1.1rem;
    @media #{$small-only} {
      font-size: 1em;
    }
  }
  ul > li > span {
    font-size: 1.1rem;
    line-height: 1.5rem;
    padding: 0.7rem 1rem;
    display: flex;
    text-transform: lowercase;
    @media #{$small-only} {
      font-size: 1em;
    }
  }
  @media screen and (max-width: 39.9375em) {
      .shrink {
          padding: .3rem 1rem;
      }
  }
}

ul > li.Header__top-logo > a {
  padding: 0;
  transition: none;
}

ul > li > .button {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

//ul > li.submit-story {
//  padding-top: 0.4rem;
//}

.Header__sub-nav {
  position: relative;
  padding: 0;
  background-color: $white;
  border-bottom: 1px solid $light-gray;
  transition: all .3s;
  z-index: -1;
  li {
    line-height: 1rem;
    padding: 1.2rem 0 1.2rem 0;
    margin: 0 0 0 2rem;
    }
  // No margin adjustments for first child element in menu items
  li:first-child {
    margin: 0 0 0 0;
  }
  li > a {
    color: $dark-gray;
    background-color: $white;
    border-bottom: 1px solid transparent;
    font-size: 1rem;
    line-height: 0;
    padding: 0;
  }
  a.active {
    color: $black;
    //border-bottom: 1px solid $dark-gray;
  }
}


.Header__sub-nav.hidden {
  // display: none;
  margin-top: -42px;
}


.Header__topic {
  background-color: $white;
  line-height: 1.5rem;
  padding: 0.7rem 1rem;
  text-transform: uppercase;
}

.Header__top-steemit {
  margin-right: -22px;
  .beta {
    position: relative;
    top: 14px;
    right: 22px;
    font-size: 0.7rem;
    color: #4ba2f2;
  }
}

.Header__sort-order-menu {
  .VerticalMenu {
    left: 0;
  }
}

.logo {
  padding-top: 10px!important;
  padding-bottom: 1px!important;
  padding-right: 5px!important;
}

.ConnectionError {
  margin-right: 4rem;
  color: #ec5840;
}
