.SignUp {
  padding: 1rem 1rem 2rem 1rem;
  a.button {
    margin-top: 0.5rem;
  }
  .button {
    width: 16rem;
    /* Small only */
    @media screen and (max-width: 39.9375em) {
      width: auto;
      margin-top: auto;
    }
  }
}

.SignUp--reddit-button {
  background-color: #ef4623;
  &:hover {
    background-color: scale-color(#ef4623, -6%);
  }
}

.SignUp--fb-button {
  background-color: #3b5998;
  &:hover {
    background-color: scale-color(#3b5998, -6%);
  }
}
