.sub-menu {
    li {
        margin: 0 15px;
    }
    li:last-child {
        margin: 0 0 0 1rem;
    }
}

li.Header__profile {
  padding: 0;
  position: relative;

  a {
    display: flex;
  }

  .Userpic {
    width: 51px !important;
    height: 51px !important;
  }

  .NavProfile {
    display: inline-block;
    margin-left: 9px;
    letter-spacing: 0.4px;
    line-height: 23px;
  }

  .NavProfile__name {
    color: #333;
    font-size: 0.85rem;
    line-height: 1rem;
  }

  .NavProfile__golos {
    color: #14236C; // #4a51b6
    font-weight: 500;
    font-size: 0.73rem;
    line-height: 1.8rem;
  }
  .NavProfile__golos-percent {
    color: #fc544e;
  }

  .NavProfile__progress {
    height: 4px;
    border-radius: 6px;
    background-color: #4a51b6;
  }
  .NavProfile__progress-percent {
    height: 4px;
    background-color: #fc544e;
  }
}
li.languages {
  > a {
    color: #8a8a8a;
  }
}

.TopRightMenu__notificounter {
    position: absolute;
    top: -2px;
    right: 0;
    > .NotifiCounter {
        display: block;
    }
}

li.buttons {
    padding-right: 0;
    margin-right: 10px;
}

li {
    .button.fest {
      text-transform: inherit;
      background-color: #eb3010;
    }
}

