.UserWallet__balance {
  padding-bottom: 1rem;
  padding-top: 1rem;

  &.UserWallet__balance.zebra {
      background: #f2f2f2;
  }
}

.UserWallet__buysp {
  margin-right: 0 !important;
  margin-top: 1rem;
}

.UserWallet__dropdown {
}

.UserWallet__claimbox {
  margin: 1.5rem 0 0.5rem;
  padding: 1rem;
  border: 1px solid #d6e9c6;
  background: #dff0d8;
  border-radius: 5px;

  .button {
    background: #337ab7;
    border-color: #2e6da4;
    color: white;
    margin-top: -0.5rem;
  }
}

.WalletSubMenu {
  > li > a {
    color: $dark-gray;
    &:hover {
      color: $black;
    }
  }
  > li > a.active {
    color: $black;
    font-weight: bold;
  }
  border-bottom: 1px solid $medium-gray;
  margin: 0.5rem 0 1rem;
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
    .Wallet_dropdown {
        left: 10px!important;
    }
}
