.UserWallet__balance {
  padding-bottom: 1rem;
}

.UserWallet__buysp {
  margin-right: 0;
}

.UserWallet__dropdown {
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
    .Wallet_dropdown {
        left: 10px!important;
    }
}
