.UserWallet__balance {
  padding-bottom: 1rem;
}

.UserWallet__buysp {
  margin-right: 0 !important;
  margin-top: 1rem;
}

// fix DropdownMenu going off page's width
.UserWallet {
    .Header__sort-order-menu {
        display: block;
        .VerticalMenu {
            left: 50%;
            display: block;
        }
    }
}
.UserWallet__dropdown {
}

.WalletSubMenu {
  > li > a {
    color: $dark-gray;
    &:hover {
      color: $black;
    }
  }
  > li > a.active {
    color: $black;
    font-weight: bold;
  }
  border-bottom: 1px solid $medium-gray;
  margin: 0.5rem 0 1rem;
}

// protect for foundation bug for collapsed state drop-downs
@media only screen and (max-width: 40em) {
    .Wallet_dropdown {
        left: 10px!important;
    }
}
