.UserWallet__balance {
  padding-bottom: 1rem;
}

.UserWallet__buysp {
  margin-right: 0;
}

// fix DropdownMenu going off page's width
.UserWallet {
    .Header__sort-order-menu {
        display: block;
        .VerticalMenu {
            left: 50%;
            display: block;
        }
    }
}
