.Header {
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);
  @include themify($themes) {
    background-color: themed('navBackgroundColor');
    border-bottom: themed('border');
  }
  &__hamburger-container {
    padding: 10px 0 10px 10px;
    display: block;
  }
}

.Header__nav {
    display: flex;
    align-items: center;
    height: 4rem;
    max-width: none;
}

.ConnectionError {
  margin-right: 4rem;
  color: #ec5840;
}

.Header__logotype {
  transition: 0.2s all ease-in-out;
  height: 37px;
  display: flex;
  align-items: baseline;
  .icon-svg {
    @include themify($themes) {
      fill: themed('colorAccent');
    }
  }

  &-beta{
    position: absolute;
    top: 38px;
    left: 136px;
  }
}

.Header__sort {
    display: flex;
    justify-content: center;
}

.Header__search {
  > a {
      display: block;
      padding: 0 0.1875rem;
  }
  > span {
      @include MQ(M) {
        display: block;
        padding: 0 0.1875rem;
      }
  }
  @include MQ(M) {
      display: none;
  }
  &--desktop {
      display: none;
      @include MQ(M) {
          display: block;
      }
  }
}

.Header__buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 4rem;
    > .Header__user-signup {
        > a {
            padding-right: 0.25rem;
            font-size: 1.125rem;
            font-family: $font-primary;
            &.Header__signup-link {  
              text-transform: none;
              margin: 0 8px;
              border-radius: 42px;
              font-size: 1rem;
              font-weight: bold;
              padding: 12px 16px;
              box-shadow: 2px 2px 2px 0 rgba(0,0,0,0), 2px 2px 0 0 rgba(0,0,0,0);
              transition: 0.2s all ease-in-out;
              text-shadow: 0 1px 0 rgba(0,0,0,0.2);
              @include themify($themes) {
                background-color: themed('colorAccentReverse');
                color: themed('buttonText');
              }                
              &:visited, &:active {
                @include themify($themes) {
                  background-color: themed('colorAccentReverse');
                  color: themed('buttonText');
                }                
              }
              &:hover, &:focus {
                transform: scale(1.075);
                @include themify($themes) {
                  background-color: themed('colorAccent');
                }
              }
            }            
              &.Header__login-link {
                @extend .link;
                @extend .link--primary;
                font-size: 1rem;
                padding: 10px 5px;
                &:hover, &:focus {
                  background-color: transparent;
                }
              }
            

        }
    }
    > a {
        padding-left: 0.25rem;
        padding-right: 0.25rem;
        transition: 0.2s all ease-in-out;
        &:hover, &:focus {
          transform: scale(1.075);
        }        
        @include MQ(S) {
          padding: 0 0.1875rem;
        }
        @include MQ(M) {
          padding: 0 0.375rem;
        }
    }
    div.LoadingIndicator {
        padding-right: 0.75rem;
    }
}

.Header__userpic {
    display: block;
    width: 32px;
    height: 32px;
    padding: 0 0.375rem 0 0.1875rem;
    @include MQ(M) {
      margin-right: 8px;
    }
  .Userpic {
    width: 32px !important;
    height: 32px !important;
    transition: 0.2s all ease-in-out;
    &:hover, &:focus {
      transform: scale(1.1);
    }
    @include MQ(M) {
        width: 38px !important;
        height: 38px !important;
        position: relative;
        top: -2px;
    }
  }
}

span.Header__hamburger.toggle-menu {
    width: 1rem;
    height: 1rem;
    @include hamburger();
    // This margin is to prevent user avatar overlapping the hamburger in the header.
    margin-left: 0.25rem;
    cursor: pointer;
    &::after {
      transition: 0.2s all ease-in-out;      
      @include themify($themes) {
        background: themed('textColorSecondary');
        box-shadow: 0 7px 0 themed('textColorSecondary'), 0 14px 0 themed('textColorSecondary');
      }        
      @include MQ(M) {
        @include themify($themes) {
          background: themed('textColorPrimary');
          box-shadow: 0 7px 0 themed('textColorPrimary'), 0 14px 0 themed('textColorPrimary');
        }
      }
    }
    &:hover {
      &::after {
        @include themify($themes) {
          background: themed('textColorAccent');
          box-shadow: 0 7px 0 themed('textColorAccent'), 0 14px 0 themed('textColorAccent');
        }
      }
    }
}
