@import './Components/style';

.HomeWrapper {
  background: #fbfbfb;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;

  .Content {
    flex-grow: 1;
    box-shadow: $box-shadow;
    z-index: 1;

    .Results {
      max-width: 920px;
      margin: 0 auto;
      padding: 0 20px;

      .NoPost {
        text-align: center;
        padding: 20px;
        font-size: 20px;
      }
    }
    @media all and (max-width: 1300px) {
      width: 100%;
      height: auto;

      .Results {
        max-width: none;
      }
    }
  }
  @media all and (max-width: 1300px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.RelatedItems {
  padding: 37px 20px 12px;
  max-width: 550px;
  @media all and (max-width: 1300px) {
    width: 100%;
    max-width: none;
    height: auto;
  }

  h1 {
    color: #808080;
    font-family: Futura;
    font-size: 18px;
    font-weight: normal;
    padding: 0 25px;
  }
}

.More {
  text-align: center;
  margin-bottom: 25px;

  a {
    color: #4bbefd;
    font-family: 'Futura Lt BT';
    font-size: 16px;

    &:hover {
      border-bottom: 0;
    }
  }
}
