@import "./foundation-settings";
@import "~foundation-sites/scss/foundation";

@include foundation-everything(true);

@import "./foundation-overrides";
@import "./fonts";
@import "./forms";
@import "./mixins";
@import "./markdown";
@import "./notifications";
@import "app/components/all";
@import "app/components/themes/green/all";
@import "app/components/themes/red/all";

/* Small only */
@media screen and (max-width: 39.9375em) {
  body {
    font-size: 86%;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 92%;
  }
}

a, path, circle {
  transition: all .3s ease 0s;
}

.space-right {
  margin-right: 0.4rem;
}

.clear-right {
  clear: right;
}

.clear-left {
  clear: left;
}

.clear-both {
  clear: both;
}

.strikethrough {
  // text-decoration: line-through;
  position: relative;
}
.strikethrough::after {
  border-bottom: 0.125em solid #EB0000;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

.uppercase, label {
  text-transform: uppercase;
}

.secondary {
  color: $dark-gray;
  font-size: 90%;
  a {
    color: $dark-gray;
    text-decoration: underline;
  }
}

.button.hollow.no-border {
  border: none;
  text-decoration: underline;
}

.button.slim {
  padding: 5px;
  margin: 5px;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.marginLeft1rem {
  margin-left: 1rem;
}

.NotFound {
  width: 640px;
}

@media print {
  .noPrint {
    display: none;
  }
}

