.Markdown {
  font-family: 'Source Serif Pro', serif;
  font-size: 1.2em;

  line-height: 150%;
}

// used for comments
.Markdown.MarkdownViewer--small {
  font-family: inherit;
  font-size: 110%;

  img {
    max-width: 400px;
    max-height: 400px;
  }

  div.videoWrapper {
    max-width: 480px;
    padding-bottom: 270px;
  }
}

.Markdown {
  h1, h2 {
    margin: 2rem 0 1rem;
    font-size: 1.6em;
  }
  h3 {
    margin: 2rem 0 1rem;
    font-size: 1.4em;
  }
  h4 {
    margin: 1.5rem 0 0.75rem;
    font-size: 1.2em;
  }
  h5 {
    margin: 1rem 0 0.5rem;
    font-size: 1.1em;
  }
  h6 {
    margin: 1rem 0 0.5rem;
    font-size: 1em;
  }
}

.ReplyEditor__body.rte {
  h1 {
    margin: 2rem 0 1rem;
    font-size: 1.6em;
  }
  h2 {
    margin: 2rem 0 1rem;
    font-size: 1.4em;
  }
  h3 {
    margin: 1.5rem 0 0.75rem;
    font-size: 1.2em;
  }
  h4 {
    margin: 1rem 0 0.5rem;
    font-size: 1.1em;
  }
  h5 {
    margin: 1rem 0 0.5rem;
    font-size: 1em;
  }
  h6 {
    margin: 1rem 0 0.5rem;
    font-size: 0.9em;
  }
}

.Markdown, .ReplyEditor__body.rte {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

  h1, h2, h3, h4, h5, h6 {
    font-family: $body-font-family;
    font-weight: 600;
  }

  code {
    padding: 0.2rem;
    font-size: 85%;
    border-radius: 3px;
    border: none;
    background-color: #F4F4F4;
    font-weight: inherit;
  }

  pre > code {
    display: block;
  }

  p {
    margin: 0.5rem 0 1rem 0;
  }

  strong {
    font-weight: 600;
  }

  ol, ul {
    margin-left: 2rem;
  }

  table td {
    word-break: normal; // issue #146
  }

  p {
    font-size: 100%;
    line-height: 150%;
  }

  img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: none;
  }

  iframe {
    max-width: 100%;
    max-height: 75vw;
  }

  div.pull-right {
    float: right;
    padding-left: 1rem;
    max-width: 50%;
  }

  div.pull-left {
    float: left;
    padding-right: 1rem;
    max-width: 50%;
  }

  div.text-justify {
    text-align: justify;
  }

  div.text-right {
    text-align: right;
  }

  div.text-center {
    text-align: center;
  }

  div.text-rtl {
    direction: rtl;
  }

  blockquote > p {
    color: rgba(0,0,0,.6);
  }
}

.Markdown, .ReplyEditor__body.rte, .MarkdownEditor {
  div.videoWrapper {
    width: 100%;
    height: 0;
    padding-bottom: 56.2%;
    position: relative;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
    }
  }
}
