.notification-bar {
  max-width: 40rem !important;
  background-color: #fff !important;
  border-radius: 6px !important;
  color: #666 !important;
  box-shadow: 0 2px 12px 0 rgba(0,0,0, 0.15) !important;
  z-index: 9999;
}

.notification-bar-wrapper {
  display: flex;
}
