.notification-bar {
  max-width: 40rem !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
  background-color: #FFFFFF !important;
  border-radius: 6px !important;
  //margin-bottom: 2rem !important;
  color: #666666 !important;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15) !important;
  //bottom: 2rem !important;
}
//
.notification-bar-wrapper {
  display: flex;
}
//
.notification-bar-message {
//  this is a span
//  but should be a div:
//  display: flex !important;
//  align-items: center !important;
  //font: 0.95rem normal Roboto, sans-serif;
}
