.visit-app-btn {
    background: #1298FF;
    border-radius: 4px;
    bottom: 24px;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.5);
    color: #fefefe;
    font-size: 1rem;
    left: 50%;
    padding: 10px;
    position: fixed;
    text-align: center;
    pointer-events: all;
    transform: translateX(-50%);
    width: 220px;
    z-index: 999999;
    &:hover {
      background: #269FFC;
    }
    &:active {
      background: #147BC9;
    }
  }