.visit-app-btn {
  width: 220px;
  border-radius: 4px;
  bottom: 24px;
  font-size: 1rem;
  left: 50%;
  padding: 10px;
  position: fixed;
  text-align: center;
  pointer-events: all;
  transform: translateX(-50%);
  color: #fefefe;
  background: #1298ff;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 400;
  cursor: pointer;

  &:hover {
    background: #269ffc;
  }
  &:active {
    background: #147bc9;
  }
}
