.Comment {
  position: relative;
  clear: both;
  margin-bottom: 2.4rem;
  .Markdown {
    p {
      margin: 0.1rem 0 0.6rem 0;
    }

    p:last-child {
      margin-bottom: 0.2rem;
    }
  }
}

.Comment__Userpic {
  float: left;
  position: relative;
  top: 0.4rem;
  padding-right: 0.6rem;
  @include MQ(M) {
    top: 0.2rem;
  }
}

.Comment__Userpic-small {
  @include hide-for(medium);
  .Userpic {
    float: left;
    position: relative;
    top: 3px;
    margin-right: 0.2rem;
    width: 16px !important;
    height: 16px !important;
  }
}

.Comment .highlighted {
  padding: 14px;
  @include themify($themes) {
    border: themed('borderAccent');
    background-color: themed('highlightBackgroundColor');
  }
}

.Comment.collapsed {
  > .Comment__Userpic {
    top: 0;
    left: 26px;
    .Userpic {
      width: 24px !important;
      height: 24px !important;
    }
  }
  .Comment__header {
    .Voting {
      margin-left: 1rem;
      border-right: none;
    }
    a {
      @include themify($themes) {
        color: themed('textColorSecondary');
      }
    }
  }
}

.Comment__header {
  margin-left: 62px;
}

.Comment__header-user {
  color: $black;
  font-size: 100%;
  font-weight: 600;
  a {    
    @extend .link;
    @extend .link--primary;
  }
}



.Comment__header_collapse {
  float: right;
  > a {
    color: $medium-gray;
    letter-spacing: 0.1rem;
    padding: 0 0.5rem;
  }
  .Icon {
    top: 5px;
  }
}

.Comment__body {
  margin-left: 62px;
  max-width: 50rem;
}

.Comment__footer {
  margin-left: 62px;
  @include themify($themes) {
    color: themed('textColorPrimary');
  }
  a {
   @extend .link;
   @extend .link--primary;
  }
  .Voting__voters_list {
    @include themify($themes) {
      border-right: themed('border');
    }
    padding-right: 1rem;
    margin-right: 1rem;
    transition: 0.3s all ease-in-out;
    .dropdown-arrow {
      position: relative;
      top: 3px;
      left: -2px;
    }     
    &:hover {
      .Icon.dropdown-arrow polygon {
          @include themify($themes) {
            fill: themed('textColorAccent');
          }     
      }      
    }
  }

  .Comment__footer__controls {
    a {margin: 0 0.2rem;}
  }
}

.Comment__replies {
  margin-top: 1.4rem;
  margin-left: 62px;
  .Comment {
    margin-bottom: 1.4rem;
  }
}

.Comment__negative_group {
    color: $medium-gray;
    border-top: 1px solid $light-gray;
    padding-top: 1rem;
    clear: none;
    button {
      opacity: 0.35;
      &:hover {opacity: 0.5;}
    }
}

.depth {
  position: absolute;
  top: 20px;
  left: 0;
  color: $dark-gray;
}

.Comment.collapsed > .depth {
  top: 2px;
}

.depth.di-1 {
  left: -38px;
}

.depth.di-2 {
  left: -100px;
}

.depth.di-3 {
  left: -162px;
}

.depth.di-4 {
  left: -224px;
}

.depth.di-5 {
  left: -286px;
}

.depth.di-6 {
  left: -348px;
}

@media screen and (max-width: 39.9375em) {
  .root {
    .Comment__header, .Comment__footer, .Comment__body, .Comment__replies {
      margin-left: 0;
    }
  }
  .reply {
    .Comment__header, .Comment__footer, .Comment__body, .Comment__replies {
      margin-left: 20px;
    }
  }

  .depth {
    top: 2px;
  }

  .depth.di-1 {
    left: 0;
  }

  .depth.di-2 {
    left: -20px;
  }

  .depth.di-3 {
    left: -40px;
  }

  .depth.di-4 {
    left: -60px;
  }

  .depth.di-5 {
    left: -80px;
  }

  .depth.di-6 {
    left: -100px;
  }
  .Comment .highlighted { 
    padding-left: 0;
  }
}
