.drafts__summary {
    position: relative;

    .drafts__content {
        display: flex;
        padding: 5px;
    }
}

.drafts {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    padding: 0em 1em;
    transition: all 0.2s ease-out;
    border: transparent;
    min-width: 300px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    box-shadow: none;

    h2 {
        font-family: sans-serif;
    }
    @include MQ(M) {
        padding: 0em 1em;
        min-width: 500px;
        max-width: 664px;
        order: 2;
    }
    @include MQ(L) {
        min-width: 550px;
        max-width: 664px;
        @include themify($themes) {
            border: themed('borderTransparent');
            background-color: themed('transparent');
        }
    }

    &__hr {
        margin-bottom: 20px;
        margin-top: 0px;
        @include themify($themes) {
            border-bottom: themed('border');
        }
        @include MQ(M) {
            display: none;
        }
    }

    &__layout-selector {
        display: none;
        cursor: pointer;
        @include MQ(FL) {
            display: flex;
            float: right;
        }
        @include MQ(FM) {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__icon--layout {
        width: 24px;
        height: 24px;
        position: relative;
    }
    &__summary {
        margin: 0;
        transition: 0.2s all ease-in-out;
        border: transparent;
        padding-bottom: 0;
        @include themify($themes) {
            background-color: themed('moduleBackgroundColor');
        }
        @include MQ(M) {
            margin: 0 0 40px;
            box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0);
            padding-bottom: 0;
            @include themify($themes) {
                border: themed('border');
            }
        }
        &:hover {
            @include MQ(M) {
                box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.03);
            }
        }
    }
    &__resteem-icon {
        position: relative;
        top: -1px;
        padding-right: 2px;
    }
    &__summary-header {
        display: flex;
        align-items: center;
        padding: 6px 0 8px;
        position: relative;
        @include MQ(M) {
            padding: 10px 16px 5px;
            @include themify($themes) {
                border-bottom: themed('border');
            }
        }
        &--footer {
            @include themify($themes) {
                border-top: themed('border');
                border-bottom: themed('border');
            }
            @include MQ(M) {
                @include themify($themes) {
                    border-bottom: transparent;
                }
            }
        }
    }
    &__summary-footer {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
        @include font-size(15px);
        @include MQ(M) {
            padding: 16px;
            @include themify($themes) {
                border-top: themed('border');
            }
        }
        a {
            @extend .link;
            @extend .link--primary;
            @include font-size(15px);
        }
    }
    &__header {
        padding-top: 5px;
        padding-bottom: 10px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        line-height: 1;
        min-height: 50px;
        @include MQ(M) {
            padding-top: 0;
        }
        &-select {
            select {
                max-width: 300px;
            }
        }
    }
    &__header-col {
        &--right {
            order: 1;
            width: 100%;
            @media only screen and (min-width: 370px) {
                width: auto;
                order: 2;
            }
        }
    }
    &__resteem {
        padding-bottom: 0px;
        margin-top: 6px;

        @include MQ(M) {
            padding-bottom: 5px;
            @include themify($themes) {
                border-bottom: themed('border');
            }
        }
    }
    &__resteem-text {
        @include font-size(13px);
        margin-bottom: 0px;
        @include themify($themes) {
            color: themed('textColorSecondary');
        }
        @include MQ(M) {
            margin-bottom: 2px;
            @include font-size(14px);
        }
    }
    &__resteem-username {
        @extend .link--secondary;
        text-decoration: none;
    }
    &__icon-100 {
        padding-left: 8px;
        display: inline-block;
        position: relative;
        top: -1px;
        transform: scale(0.9);
        transform-origin: center;
    }
    &__h1 {
        font-family: $font-primary;
        font-weight: bold;
        @include font-size(18px);
        margin: 0;
        @include MQ(M) {
            @include font-size(18px);
        }
    }
    &__h2 {
        // @extend .h2;
        margin: 0;
        @include font-size(16px);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        a {
            font-weight: bold;
            @include themify($themes) {
                color: themed('textColorPrimary');
            }
            &:visited {
                @include themify($themes) {
                    color: themed('textColorSecondary');
                }
            }
        }
        @include MQ(M) {
            @include font-size(18px);
        }
    }
    &__h3 {
        display: inline;
    }

    &__tag-selector {
        display: inline-block;
        select.Topics {
            margin-bottom: 0 !important;
            border: transparent;
            background-color: transparent;
            border-bottom: 1px solid #999;
            border-radius: 0;
            position: relative;
            top: -4px;
            margin-top: 12px;
            @include themify($themes) {
                color: themed('textColorSecondary');
            }
            @media only screen and (min-width: 370px) {
                margin-top: 0;
            }
        }
        @include MQ(L) {
            display: none;
        }
    }
    &__p {
        // @extend .p;
        margin: 0;
        padding-top: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    &__link {
        text-decoration: none;
        @include themify($themes) {
            color: themed('textColorPrimary');
        }
    }
    // &__profile-img {
    //   display: none;
    //   width: 54px;
    //   height: auto;
    // }
    &__text-content {
        @include MQ(M) {
            padding: 0 1.2em;
        }
    }
    &__tags {
        @include themify($themes) {
            color: themed('textColorSecondary');
        }
        @include font-size(14px);
        margin-bottom: 18px;
    }
    &__tag-link {
        @include font-size(14px);
        @include themify($themes) {
            color: themed('textColorSecondary');
        }
        a {
            @extend .link;
            @extend .link--secondary;
        }
    }
    &__flag {
        width: 24px;
        height: auto;
        position: absolute;
        right: -4px;
        top: 0px;
        padding: 2px;
        @include MQ(M) {
            right: 10px;
            top: 12px;
        }

        .icon-flag-svg {
            @include themify($themes) {
                fill: themed('textColorSecondary');
            }
            transition: 0.2s all ease-in-out;
        }
        &:hover {
            cursor: pointer;
            .icon-flag-svg {
                @include themify($themes) {
                    fill: themed('textColorError');
                }
            }
        }
    }
    &__content-block {
        margin-bottom: 16px;
        @include MQ(M) {
            &--text {
                margin-top: 1em;
            }
        }
    }

    &__content-block--text {
        -webkit-box-flex: 1;
        box-flex: 1;
        flex: 1;
    }

    &__content-block--img + &__content-block--text {
        margin-top: 0;
    }
    &__resteem,
    &__content-block--text,
    &__metadata {
        @include MQ(M) {
            padding-left: 1.1em;
            padding-right: 1.1em;
        }
    }
}

// ,user layout-block

.draft-user {
    display: flex;
    align-items: center;
    margin-right: 8px;

    .Userpic {
        width: 24px !important;
        height: 24px !important;
        margin-right: 8px;
    }
    &__col {
        line-height: 1;
        &--right {
            position: relative;
            top: -2px;
        }
    }
    &__link {
        @extend .link;
        &:hover {
            .user__username {
                transition: 0.2s all ease-in-out;
                @include themify($themes) {
                    color: themed('textColorAccent');
                }
            }
        }
    }
    &__profile-img {
        width: 40px !important;
        height: 40px !important;
        margin-right: 8px;
        transition: width 0.2s ease-out;
        @include MQ(M) {
            width: 48px !important;
            height: 48px !important;
            margin-right: 10px;
        }
    }
    &__name {
        display: inline;
        font-weight: bold;
        padding-right: 2px;
        margin: 0;
        line-height: 1.2;

        a {
            @extend .link;
            @extend .link--primary;
            font-weight: bold;
            @include font-size(14px);
            @include MQ(M) {
                @include font-size(16px);
            }
        }
    }
    &__username,
    &__reputation {
        @extend .link--secondary;
        font-weight: normal;
        @include font-size(14px);
    }
}

ul.DraftsList__summaries {
    margin-left: 0;
}

ul.DraftsList__summaries > li {
    padding: 0.1em 0.5em 0 0.5em;
    margin-bottom: 0.8em;

    @include themify($themes) {
        border-radius: themed('roundedCorners');
        border: themed('border');
        background-color: themed('moduleBackgroundColor');
    }

    &:hover {
        @include MQ(L) {
            @include themify($themes) {
                box-shadow: 2px 2px 3px 0 themed('contentBorderAccent');
            }
        }
    }
}

.DraftSummary {
    // padding: 0 0 0.5rem;
    margin: 0 0 1.25vw;
    clear: left;
    @include clearfix;

    .DraftSummary__nsfw-warning {
        border: 1px solid $color-border-light;
        padding: 0.75rem 2rem;
        min-height: 80px;
        .DraftSummary__footer {
            margin-top: 0.2rem;
            .Reblog__button {
                display: none;
            }
            .Voting__button {
                display: none;
            }
        }
        .DraftSummary__time_author_category_small {
            margin-bottom: 0.2rem;
        }
    }

    .nsfw-flag {
        color: $color-red;
        border: 1px solid $color-red;
        font-size: 75%;
        border-radius: 3px;
        font-weight: normal;
        font-family: Arial;
        margin: 0 0.1rem;
        padding: 2px 5px;
    }
}

.DraftSummary__image {
    cursor: pointer;
    float: left;
    width: 130px;
    height: 4.5rem;
    background-color: #eee;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 50% 20%;
    border: 1px solid #eee;
}

.DraftSummary__image-mobile {
    display: block;
    background: #f8f8f8;

    img {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 80vw;
        background: white;
        transform: translate3d(0, 0, 0);
    }
}

.DraftSummary.with-image .DraftSummary__reblogged_by,
.DraftSummary.with-image .DraftSummary__content {
    margin-left: 8.25rem;
}

.DraftSummary__header {
    > h3 {
        font: 600 100% 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans',
            Geneva, Arial, sans-serif;
        margin: 0;
        overflow: hidden;
        > a {
            color: #333;
        }
        > a:visited {
            color: #777;
        }
        .Icon {
            margin: 0 0.25rem;
            svg {
                width: 0.85rem;
                height: 0.85rem;
                vertical-align: 5%;
            }
        }
    }
    .nsfw-flag {
        margin-right: 0.25rem;
    }
}

.DraftSummary__body {
    width: auto;
    padding: 0 0 0.15rem;
    font-size: 0.9rem;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial,
        sans-serif;
    @include themify($themes) {
        color: themed('textColorPrimary');
    }
    overflow: hidden;
    line-height: 1.4;
    text-overflow: ellipsis;

    a {
        display: inline;
        @include themify($themes) {
            color: themed('textColorPrimary');
        }
    }
}

.layout-list .DraftSummary__body {
    @include MQ(M) {
        white-space: nowrap;
    }
}

.DraftSummary__footer {
    color: $dark-gray;
    font-weight: 400;
    path {
        fill: $dark-gray;
    }
    a {
        color: $dark-gray;
    }
    .Icon {
        position: relative;
        top: -1px;
    }
}

.DraftSummary__time_author_category {
    color: $dark-gray;
    a {
        color: $dark-gray;
        font-weight: bold;
        @include hoverUnderline;
    }
    padding-left: 1rem;
    @include themify($themes) {
        border-left: themed('borderLight');
    }

    .Reblog__button {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: transparent;
    }
}

.DraftSummary__time_author_category_small a {
    color: $dark-gray;
}

@media screen and (min-width: 39.9375em) {
    .DraftSummary.with-image .DraftSummary__reblogged_by .Icon.reblog {
        margin-left: -22px;
    }
}

.DraftSummary__reblogged_by {
    .Icon path {
        fill: #cacaca;
    }
    color: $dark-gray;
    font-size: 90%;
    margin-top: -0.5rem;
    a {
        color: inherit;
        font-weight: bold;
        @include hoverUnderline;
    }
}

/* Small only */
@media screen and (max-width: 39.9375em) {
    .DraftSummary {
        // padding: 1rem 0.5rem;
        margin-bottom: 0;
        border: none;
        // border-top: 1px solid $light-gray;
    }
    .DraftSummary__image {
        float: none;
        margin-top: 0.5rem;
        // background-size: contain;
        display: block;
        width: 100%;
        height: 40vw;
    }
    .DraftSummary__body {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
        white-space: normal;
        text-overflow: initial;
        padding-bottom: 0.3rem;
        a {
            display: block;
        }
    }
    .DraftSummary.with-image .DraftSummary__reblogged_by,
    .DraftSummary.with-image .DraftSummary__content {
        margin-left: 0;
    }
    .DraftSummary__footer .Voting,
    .DraftSummary__footer .Voting__inner {
        border-right: none;
    }
    .DraftSummary__time_author_category {
        margin-left: 0;
        border-left: 1px solid $color-border-light;
        .Reblog__button {
            margin-right: 1rem;
            padding-right: 1rem;
            border-right: none;
        }
    }
}
