.FeedsNavigation {
  margin-bottom: 1rem;
}


.FeedsNavigation__top-nav {
  background-color: $color-blue-dark;
  padding: 0;

  .menu {
    background-color: transparent;
  }

  .menu > li > a {
      transition: all 200ms ease-in;
      transform: translate3d( 0, 0, 0);
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      background-color: transparent;
      color: $color-white;
      border-top: 2px transparent solid;
      border-bottom: 2px transparent solid;

      &:hover {
        @include themify($themes) {
          border-bottom: 2px themed('iconFill') solid;
        }      
        border-radius: 5px 5px 0px 0px;  
      }

      &:hover, &:focus {
        background-color: $color-blue-black;
        border-top: 2px $color-blue-dark solid;
      }

      &.active {
          @include themify($themes) {
            background-color: themed('backgroundColor');
            color: themed('textColorPrimary');
          }
          z-index: 2;
          font-weight: bold;
          border-top: 2px $color-blue-dark solid;
          border-radius: 5px 5px 0px 0px;
        }
  }

  div.FeedsNavigation__top-menu {
      max-width: 71.42857rem;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-flow: row wrap;
      width: 100%;

      // Override default svg vertical alignment
      .Icon > svg, .Icon span.icon {
          vertical-align: middle!important;
          @include themify($themes) {
            fill: themed('iconFill');
          }
          margin-top: -0.2rem;
      }

      a.active .Icon > svg {
        @include themify($themes) {
          fill: themed('iconFillActive');
        }
      }
  }
}

@media screen and (max-width: 39.9375em) {

  nav.FeedsNavigation__top-nav .menu li>a {
      padding: 8px 10px;
  }

  .FeedsNavigation__top-menu > div.columns {
      padding-left: 0;
      padding-right: 0;
  }

}