
.flex-row {
    flex-direction: row;
    display: flex;
}

.flex-column {
    flex-direction: column;
    display: flex;
}

.flex-body {
    display: flex;
}

.notification__item {
  align-items: center;
  padding: 1rem;
  @include themify($themes) {
    border-bottom: themed('border');
  }
}
    .notification__unread {
        float: right;
        font-size: 2em;
        @include themify($themes) {
            color: themed('textColorAccent');
        }
    }

.notifcation__type {

}

.notification__icon{
  padding-right: 1rem;
}

.notification__message {
  padding-bottom: 0.5em;
  padding-right: 0.5em;

}

.notification__dot {
  padding: 0 0.5em;
}

.notification__participant {
  padding: 0 0.5em;
}

.notification {
  &__reply{
  fill: brown;
  }
  &__follow{
    fill: orange;
  }
  &__label{
    fill: green;
  }
  &__vote{
    fill: blue;
  }
  &__error{
    fill: red
  }
  &__reblog{
    fill: purple
  }
}

