.otification__item {
        @include themify($themes) {
            border-bottom: themed('border');
        }

    .notif-unread {
        float: right;
        font-size: 2em;
        @include themify($themes) {
            color: themed('textColorAccent');
        }
    }
}

.notification {
  &__reply{
  fill: brown;
  }
  &__follow{
    fill: orange;
  }
  &__label{
    fill: green;
  }
  &__vote{
    fill: blue;
  }
  &__error{
    fill: red
  }
  &__reblog{
    fill: purple
  }
}

