.Post {
  @include themify($themes) {
    background-color: themed('moduleBackgroundColor');
  }
  padding-top: 1rem;
}

.PostFull {
  padding: 1rem 0.5rem;
  margin: 0 auto;
  max-width: 46rem;
  @include themify($themes) {
      border-bottom: themed('border');
  }
  .button.hollow {
    @include themify($themes) {
        border: themed('borderAccent');
        color: themed('textColorAccent');
    }
  }

  &__flag {
    margin-top: -1rem;
  }
  &__btn-edit {
    @extend .e-btn-hollow;
    padding: 5px 10px;
    @include font-size(14px);
    font-weight: bold;
  }
}

  .ReplyEditor {
    margin-top: 0;
    padding: 1rem 0 0;
    max-width: 46rem;    
    border-radius: 0;

    textarea {
      border-radius: 0;
      padding: 12px 12px 6px;
      font-family: $font-primary;
      line-height: 1.4;
      border: transparent;
      @include MQ(M) {
        padding: 1rem 1rem 0.5rem;
      }
      @include themify($themes) {
          border-top: themed('border');
          border-left: themed('border');
          border-right: themed('border');
      }        
    }
  }


.PostFull__time_author_category {
  font-weight: 400;
  border-right: none!important;
  @include themify($themes) {
      border-right: themed('border');
      color: themed('textColorSecondary');
  }

  padding-right: .6rem;
  margin-right: .6rem;
  > span {
    white-space: nowrap;
  }
}

.PostFull__time_author_category_large {
  margin: 1.4rem 0 1.4rem 0;
  line-height: 1.2;
  @include themify($themes) {
      color: themed('textColorSecondary');
    }
  strong, a {
    @include themify($themes) {
      color: themed('textColorSecondary');
    }
  }
  font-size: 100%;
  display: flex;
  align-items: center;
  > .Userpic {
    margin-top: -4px;
    float: left;
  }
  > .right-side {
    margin-left: 12px;
    position: relative;
    top: -2px;
  }
}

.PostFull__header, .PostFull__body {
  margin: 0 auto;
}

.PostFull__header {
  @include themify($themes) {
    border-bottom: 2px solid $color-teal;
  }
  > h1 {
    overflow: hidden;
    font-family: $body-font-family;
    font-size: 200%;
    font-weight: 800;
    line-height: 1.1;
    @include MQ(M) {
      font-size: 220%;
    }    
    .Icon {
      margin: 0 0 0 0.5rem;
      vertical-align: -30%;
    }
  }
  a {
    @extend .link;
    @extend .link--secondary;
    font-weight: 600;

  }
  .PostFull__time_author_category {
    border-right: none;
    .Icon.clock {
      top: 5px;
      svg {
        @include themify($themes) {
            fill: themed('textColorSecondary');
        }
      }
    }
  }
}

.PostFull__body {
  padding: 2rem 0 1.5rem 0;
  clear: left;
  a {
    @extend .link;
    @extend .link--accent;
  }
}

.PostFull__footer {
  clear: right;
  line-height: 2rem;
  font-size: 94%;
  svg {
    @include themify($themes) {
        fill: themed('textColorSecondary');
    }
  }
  .RightShare__Menu {
    @include MQ(FL) {
      text-align: right;
    }
  }
  .VerticalMenu > li > a {
    @include themify($themes) {
      fill: themed('textColorSecondary');
    }
  }
  span {
    white-space: normal;
  }

  .Reblog__button {
    padding-right: .4rem;
    margin-right: .4rem;
    @include themify($themes) {
        border-right: themed('border');
    }
  }
}

.PostFull__responses {
  padding-right: .4rem;
}

.PostFull__views {
  padding-right: .4rem;
  margin-right: .4rem;
  font-size: 94%;
  font-weight: 600;
  @include themify($themes) {
      border-right: themed('border');
      fill: themed('textColorSecondary');
  }
}

.PostFull__reply {
  padding-right: .4rem;
  margin-right: .4rem;
  @include themify($themes) {
      border-right: themed('border');
  }
  a {margin: 0 0.15rem;}
}

.PostFull__lifetime {
  @include themify($themes) {
    fill: themed('textColorSecondary');
  }
  font-size: 80%;
}

.Author__dropdown {
  padding: 1rem;
  > a {
    @include hoverUnderline;
  }
}

.explore-post {
  margin-right: 0px!important;
  cursor: pointer;
  &:hover {
    svg {
      fill: $color-teal;
    }
  }
}

input.share-box {
  width: 75%!important;
  display: inline;
}

.ExplorePost {
  span.extlink {
    vertical-align: text-bottom;
  }
  h5 {
    margin-top: 1em;
  }
  .ExplorePost__copy-button {
    cursor: pointer;
  }
}

.chain-right {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .Post {
    width: 100%;
    overflow-x: hidden;
    overflow-y: visible;
  }
  .PostFull__footer > .column {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }
  input.share-box {
    height: 2.8em;
    font-size: .8em;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  input.share-box {
    height: 2.8em;
    font-size: .8em;
  }
}

.hidden {
  position: fixed;
  left: -100000000px
}




































$color-facebook: #3A5997;
$color-twitter: #56ACEE;    
$color-reddit: #FF4500;
$color-linkedin: #0077B5;
$color-url: #333;



.full-bleed {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;    
  position: relative; 
}

.content {
  margin-top: 6em;
}

.comments {
  margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    max-width: 46rem;
    @include font-size(14px); 

    img {
      margin: 1rem 0;
    }
}


.content > *:not( img ):not( video ) {
    margin-left: auto;
    margin-right: auto;
    width: 88%;
    max-width: 46rem;
}



.content img {
  margin: 1.5em auto;
  max-width: 100%;
  display: block;
}

.content img::after {
  background-color: rgba(0, 0, 0, 1);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.PostActions {
  width: 100%;
  max-width: 46em;
  margin: 1em auto 2em;
  border-top: 1px solid #eee;
  padding-top: 2rem;
  @include MQ(M) {
    margin: 2em auto 2em;
  }
  &__post-metadata {
    @include MQ(M) {
      display: flex;
      justify-content: space-between;     
      flex-wrap: wrap;
      align-items: center;
    }
  }

  &__author {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-right: 1rem;
    @include MQ(M) {
      margin-bottom: 1.25rem;
    }
    .Userpic {
      margin-right: 8px;
      width: 42px;
      height: 42px;
      @include MQ(M) {
        margin-right: 10px;
      }
    }   
  }
  &__author-time {
    margin: 0;
    font-weight: normal;
    line-height: 1;
    @include font-size(14px);
    @include themify($themes) {
      color: themed('textColorSecondary');
    }         
  }
  &__author-link {
    display: flex;
    align-items: center;
    @extend .link;
    @extend .link--primary;
  }
  &__author-name {
    margin: 0;
    line-height: 1.4;
  }
  &__author-img {
    border-radius: 20px;
    padding: 0;
    margin: 0 8px 0 0;
    width: 30px;
    height: 30px;
  }
  &__author-rep {
    @include font-size(14px);
    font-weight: normal;
    line-height: 1;
  }
  &__tag-list {
    margin: 0;
  }
  &__tags {
    padding: 0;
    margin-bottom: 1.25rem;
    @include MQ(M) {
      margin-bottom: 1.5rem;  
    }
  }
  &__hype {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  &__social {
    display: flex;

    svg {
      padding: 1px;
      @include themify($themes) {
        fill: themed('colorWhite');
      }            
    }
    svg.icon--url {
      padding: 2px;
      position: relative;
      top: -1px;
    }
  }
  &__social-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__social-item {
    margin: 0 2px 0 0;
  }
  &__promote {

  }
  &__promote-btn {

    @extend .e-btn-hollow;
    // @include themify($themes) {
    //   background: themed('backgroundColor');
    // }  
    height: 32px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    // border: 1px solid $color-teal;
    // border-radius: 0px;
    // box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);   
    // color: $color-teal;
    text-transform: capitalize;
    // cursor: pointer;
    @include font-size(14px);
    font-weight: bold;  
    margin: 0 !important;

    @extend .e-btn-hollow;

    &:hover, &:focus {

    }
  }
  &__votes {
    @extend .full-bleed;
    background: #000;
  }
  &__votes-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    width: 90%;
    max-width: 46em;
    margin: 0 auto;   
    position: relative;
    @include MQ(M) {
      height: 80px;
      padding: 0 1rem;
    }
  }
  &__primary-action {
    display: flex;
    align-items: center;
  }
  &__upvote-btn, &__reblog-btn {
    margin-right: 8px;
  }
  &__replies {
      @include font-size(14px);
      color: $color-text-gray-light;  

    .Icon.chatboxes {
      margin-right: 4px;  
      margin-left: 16px;  
      svg path {
        fill: $color-text-gray-light;    
      }
    }
  }
}

.divider {
  color: rgba(255,255,255, 0.5);
}


// .PostActions {
//   .icon {
//     padding: 8px;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.05);   
//       width: 45px;
//       height: 32px;
//       cursor: pointer;
//       transition: all 0.2s ease-in-out;
//     &--facebook {
//       background: $color-facebook;
//       &:hover, &:focus {
//         background: darken($color-facebook, 15%);
//       }
//     }
//     &--twitter {
//       background: $color-twitter;
//       &:hover, &:focus {
//         background: darken($color-twitter, 15%);
//       }     
//     }   
//     &--reddit {
//       background: $color-reddit;
//       &:hover, &:focus {
//         background: darken($color-reddit, 15%);
//       }     
//     }
//     &--linkedin {
//       background: $color-linkedin;
//       &:hover, &:focus {
//         background: darken($color-linkedin, 15%);
//       }     
//     }
//     &--url {
//       background: $color-url;
//       padding: 9px;
//       &:hover, &:focus {
//         background: lighten($color-url, 15%);
//       }     
//     }
//   }
//   .icon--white {
//     fill: #fff;
//   }
// }


// .facebook {
//   background: $color-facebook;
// }


.PostActions  { 

  .Icon.chevron-up-circle.upvote {
    transform: scale(1.8);
    margin-right: 6px;
  }
  .Voting__inner .FormattedAsset {
    color: $color-white;
    font-weight: bold;    
    @include font-size(18px);
  }
  .Voting__voters_list span {
    color: $color-text-gray-light;
    @include font-size(15px);
    line-height: 1;
    font-weight: normal;
  }
}