
.PostTitle {
  position: relative;
  margin-bottom: 10px;

  &__input {
    display: block;
    width: 100%;
    border: none;
    background: none;
    font-size: 32px;
    font-family: 'Source Serif Pro', serif;
    color: #555;
    outline: none !important;

    &::placeholder {
      color: #999;
    }
  }
}
