
.PostTitle {
  position: relative;
  margin-bottom: 10px;

  &__input {
    display: block;
    width: 100%;
    border: none;
    background: none;
    font-size: 32px;
    color: #555;
    outline: none !important;
  }
}
