//
.NotificationContent__container {
  //background: limegreen;
  display: flex;
  flex-direction: row;
}
//
.NotificationContent__container_left {
  //background: red;
  display: flex;
  align-content: center;
}
//
.NotificationContent__container_center {
  //background: cornflowerblue;
  display: flex;
  align-items: center;
  //justify-content: space-around;
}
//
.NotificationContent__container_center_top {
  //background: yellow;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  padding-top: 6px;
}
//
.NotificationContent__container_center_bottom {
  //background: blue;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  font-size: 0.9rem;
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 6px;
  color: #325C93;
}

.NotificationContent__container_right {
  //background: yellow;
  display: flex;
  align-items: center;
  align-content: center;
  opacity: 0.3;
  padding-left: 6px;
  padding-right: 6px;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #d3d3d3;
}

.NotificationContent__action {
  //background: yellow;
  display: flex;
  align-items: center;
  align-content: center;

  > svg {
    width: 12px;
    height: 12px;
    //vertical-align: top;
  }

  & > svg:hover > path {
    fill: black !important;
  }
}

.NotificationContent__icon {
  //background: yellow;
  display: flex;
  align-items: center;

  > svg {
    width: 37px;
    height: 37px;
    //vertical-align: top;
  }

  //& > svg:hover > path {
  //  fill: black !important;
  //}
}



.NotificationContent__action_source {
  // background: 'white',
  color: #424242 !important;
  font-family: Roboto !important;
  font-size: 14px !important;
  // fontWeight: '500',
  font-weight: 500 !important;
  font-style: normal !important;
  font-stretch: normal !important;
  line-height: 1.14 !important;
  letter-spacing: normal !important;
  text-align: left !important;
  margin-left: 18px !important;
}
