
.HtmlEditor {
  &.HtmlEditor {
    border: none;
    border-radius: unset;
    padding: 0;
    margin-top: 8px;
    background: none;
  }

  & > *:nth-child(2) {
    border-top: none;
  }

  & .public-DraftEditor-content {
    min-height: 350px;
  }

  & [class^=EditorToolbar__root] {
    margin-left: -7px;
  }

  & [class^=IconButton__root] {
    border: 1px solid transparent;
    background: none;

    &[class*=IconButton__isActive] {
      border-color: #6d6d6d;
      border-radius: 3px;
    }
  }
}
