
.RawMarkdownEditor {

  &__editor {
    padding: 2px 5px;
    margin: 2px -5px;
    border: none !important;
    box-shadow: none;
    resize: vertical;
  }

  &__footer {
    margin-top: 3px;
    font-size: 14px;
    color: #767676;
  }
}
